<div class="ambList{% if section.settings.section_classname %} {{ section.settings.section_classname }}{% endif %}">
  <div class="wrapper">
    <div class="ambList__row">
      {% for block in section.blocks %}
        <a href="{{ block.settings.landing_link }}" class="ambList__ambassador">
          <picture class="ambList__ambassador-picture"> 
            <source media="(max-width: 1023px)" srcset="{{ block.settings.image_mobile | img_url: 'master' }}">
            <source media="(min-width: 1024px)" srcset="{{ block.settings.image_desk | img_url: 'master' }}">
            <img src="{{ block.settings.image_mobile | img_url: '1x' }}" alt="{{ block.settings.name }}">  
          </picture>
          <h5 class="ambList__ambassador-name">{{ block.settings.name }}</h5>
          <span class="ambList__ambassador-profile">{{ block.settings.profile }}</span>
        </a>
      {% endfor %}  
    </div>  
  </div>
</div>

{% schema %}
  {
    "name": "Ambassador List",
    "blocks": [
      {
        "type": "Ambassador",
        "name": "block",
        "settings": [
          {
            "type":"url",
            "id":"landing_link",
            "label":"Ambassador Landing Page"
          },
          {
            "type":"image_picker",
            "id":"image_desk",
            "label":"Ambassador Image Desk"
          },
          {
            "type":"image_picker",
            "id":"image_mobile",
            "label":"Ambassador Image Mobile"
          },
          {
            "type":"text",
            "id":"name",
            "label":"Ambassador Name",
            "default":"Darin Olien"
          },
          {
            "type":"text",
            "id":"profile",
            "label":"Ambassador Profile",
            "default":"Wellness expert bestselling author and podcast host"
          },
          {
            "type": "text",
            "id": "section_classname",
            "label": "Section Class Name"
          }
        ]
      }
    ]
  }
{% endschema %}