<div class="c-certBlock">
    <div class="wrapper">
        <div class="c-certBlock__row">
            {% for block in section.blocks %}
                <div class="c-certBlock__item">
                    <div class="c-certBlock__box">
                        <a href="{{ block.settings.url}}" target="_blank">
                            <img src="{{ block.settings.logoimage | img_url: 'master' }}" data-rjs="{{ block.settings.logoimage | img_url: '230x' }}" class="c-certBlock__image">
                        </a>
                        <h4 class="c-certBlock__heading">{{ block.settings.heading}}</h4>
                        <div class="c-certBlock__copy">{{ block.settings.copy}}</div>
                        <div class="c-certBlock__learnMore">
                        {%if block.settings.url == "/pages/b-corp"%}
                            <a href="{{ block.settings.url}}">
                        {%else%}
                            <a href="{{ block.settings.url}}" target="_blank">
                        {%endif%}
                              <span>{{block.settings.urltext}}</span>
                              <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <g id="CL---Certifications---Grid-View---Fixed-Height---Desktop" transform="translate(-1066.000000, -2086.000000)" fill="#AF5D00">
                                          <g id="Certifications" transform="translate(197.000000, 1059.000000)">
                                              <g id="leaping-bunny" transform="translate(596.000000, 561.000000)">
                                                  <g id="btn---learn-more" transform="translate(163.000000, 454.000000)">
                                                      <path d="M117,12 L115.9955,12.9751 L121.3204,18.3 L110,18.3 L110,19.7 L121.3204,19.7 L116.0102,25.0102 L117,26 C119.5627,23.4373 121.5472,21.4528 124,19 C121.2238,16.2238 123.1838,18.1838 117,12" id="arrow_right-[#349]"></path>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </svg>
                            </a>    
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Certification Block",
    "blocks": [
      {
        "type": "certification-block",
        "name": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "logoimage",
            "label": "Logo",
            "info": "Upload the image max 115x115px"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "html",
            "id": "copy",
            "label": "Copy"
          },
          {
            "type": "text",
            "id": "urltext",
            "label": "URL Text",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ]
  }
{% endschema %}