<div class="charityPost">
  <div class="wrapper charityPost__main">
      {% for block in section.blocks %}
        <div class="charityPost__row">
          <div class="charityPost__image">
            {% if block.settings.video != blank %}
              <div class="charityPost__video">
                {{ block.settings.video }}  
              </div>
            {% else %}  
              <img data-src="{{ block.settings.image-mobile | img_url: 'master' }}" class="lazyload charityPost__mobile" />  
              <img data-src="{{ block.settings.image | img_url: 'master' }}" class="lazyload charityPost__desktop" />
            {% endif %}
              
          </div>
          <div class="charityPost__content">
            <span class="charityPost__date">{{ block.settings.date }}</span>
            <h3 class="charityPost__heading">{{ block.settings.heading }}</h3>
            <div class="charityPost__copy">{{ block.settings.copy }}</div>
            <a href="{{ block.settings.url }}" class="charityPost__link" target="_blank">{{ block.settings.link-copy }}</a>
          </div>
        </div>
      {% endfor %}
  </div> 
</div>

{% schema %}
  {
    "name": "Charity Posts",
    "blocks": [
      {
        "type": "content",
        "name": "posts",
        "settings": [
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"image_picker",
            "id":"image-mobile",
            "label":"Image Mobile"
          },
          {
            "type":"html",
            "id":"video",
            "label":"Video"
          },
          {
            "type":"text",
            "id":"heading",
            "label":"Heading"
          },
          {
            "type":"html",
            "id":"copy",
            "label":"Copy"
          },
          {
            "type":"text",
            "id":"link-copy",
            "label":"Link Copy",
            "default": "Get Involved"
          },
          {
            "type":"url",
            "id":"url",
            "label":"Url"
          },
          {
            "type":"text",
            "id":"date",
            "label":"Date",
            "info": "Format: October 2020"
          }
        ]
      }
    ]
  }
{% endschema %}