<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{{"swell-account.css" | asset_url | stylesheet_tag}}
{% for tag in customer.tags %}
    {% if tag == 'SubscriptionActive' or tag == 'SubscriptionInactive'%}
        {% assign isUpscribeCustomer = true %}
    {% endif %}
{% endfor %}
<div class="account account-page">
    <div class="wrapper">
        <div class="zoomCall--desktop">
            {% if section.settings.zoom-call == true %}
                <div class="zoomCall">
                    <div class="zoomCall__main">
                        <div class="zoomCall__row" data-zoom-call>
                            <a href="#" class="zoomCall__close">
                                <svg width="11px" height="11px" viewBox="0 0 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="skincare-consultation-upscribe" transform="translate(-1117.000000, -155.000000)" fill="#000000" fill-rule="nonzero">
                                            <g id="booking-block" transform="translate(355.750000, 155.000000)">
                                                <g id="content-right" transform="translate(322.000000, 0.000000)">
                                                    <path d="M445.722827,5.50011466 L450.048441,1.17432092 C450.317186,0.905793325 450.317186,0.47009527 450.048441,0.201567679 C449.779695,-0.0671892264 449.344474,-0.0671892264 449.075728,0.201567679 L444.750115,4.52736142 L440.424272,0.201567679 C440.155526,-0.0671892264 439.720305,-0.0671892264 439.451559,0.201567679 C439.182814,0.47009527 439.182814,0.905793325 439.451559,1.17432092 L443.777402,5.50011466 L439.451559,9.8259084 C439.182814,10.094436 439.182814,10.530134 439.451559,10.7986616 C439.585932,10.9328108 439.762039,11 439.937916,11 C440.113793,11 440.289899,10.9328108 440.424272,10.7984323 L444.750115,6.47263858 L449.075728,10.7984323 C449.210101,10.9328108 449.386207,11 449.562084,11 C449.737961,11 449.914068,10.9328108 450.048441,10.7984323 C450.317186,10.5299047 450.317186,10.0942067 450.048441,9.82567908 L445.722827,5.50011466 Z" id="Path"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <div class="zoomCall__image">
                                <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.heading }}" />
                            </div>
                            <div class="zoomCall__content">
                                <h3 class="zoomCall__heading">
                                    {{ section.settings.heading }}
                                </h3>
                                <div class="zoomCall__copy">
                                    {{ section.settings.copy }}
                                </div>
                                <a href="{{ section.settings.book-call-btn }}" class="btn btn--primary zoomCall__btn" target="_blank">
                                    {{ section.settings.book-call-text }}
                                </a>
                                <div class="zoomCall__bottonCopy">
                                    {{ section.settings.bottom-copy }}
                                </div>
                            </div>
                        </div>
                        <div class="zoomCallBook" data-book-call>
                            <div class="zoomCallBook__content">
                                <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.heading }}" class="zoomCallBook__image" />
                                <a href="{{ section.settings.book-call-btn }}" class="btn btn--primary zoomCallBook__btn">
                                    <span class="zoomCallBookBtnText--mobile">BOOK A SKIN CONSULT</span>
                                    <span class="zoomCallBookBtnText--desktop">BOOK A PERSONALIZED SKINCARE CONSULTATION</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            {% endif %}
        </div>

        <div class="grid">
            <div class="grid__item medium--one-third">
                <div class="account-page__title account-title">
                    <h3>Hey, {{ customer.first_name }} {{ customer.last_name }}</h3>
                    <p class="text--accent">{{ customer.email }}</p>
                    <a href="/account/logout" class="medium--hide">Log Out</a>
                </div>
                <div class="zoomCall--mobile">
                    {% if section.settings.zoom-call == true %}
                        <div class="zoomCall">
                            <div class="zoomCall__main">
                                <div class="zoomCall__row" data-zoom-call>
                                    <a href="#" class="zoomCall__close">
                                        <svg width="11px" height="11px" viewBox="0 0 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="skincare-consultation-upscribe" transform="translate(-1117.000000, -155.000000)" fill="#000000" fill-rule="nonzero">
                                                    <g id="booking-block" transform="translate(355.750000, 155.000000)">
                                                        <g id="content-right" transform="translate(322.000000, 0.000000)">
                                                            <path d="M445.722827,5.50011466 L450.048441,1.17432092 C450.317186,0.905793325 450.317186,0.47009527 450.048441,0.201567679 C449.779695,-0.0671892264 449.344474,-0.0671892264 449.075728,0.201567679 L444.750115,4.52736142 L440.424272,0.201567679 C440.155526,-0.0671892264 439.720305,-0.0671892264 439.451559,0.201567679 C439.182814,0.47009527 439.182814,0.905793325 439.451559,1.17432092 L443.777402,5.50011466 L439.451559,9.8259084 C439.182814,10.094436 439.182814,10.530134 439.451559,10.7986616 C439.585932,10.9328108 439.762039,11 439.937916,11 C440.113793,11 440.289899,10.9328108 440.424272,10.7984323 L444.750115,6.47263858 L449.075728,10.7984323 C449.210101,10.9328108 449.386207,11 449.562084,11 C449.737961,11 449.914068,10.9328108 450.048441,10.7984323 C450.317186,10.5299047 450.317186,10.0942067 450.048441,9.82567908 L445.722827,5.50011466 Z" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <div class="zoomCall__image">
                                        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.heading }}" />
                                    </div>
                                    <div class="zoomCall__content">
                                        <h3 class="zoomCall__heading">
                                            {{ section.settings.heading }}
                                        </h3>
                                        <div class="zoomCall__copy">
                                            {{ section.settings.copy }}
                                        </div>
                                        <a href="{{ section.settings.book-call-btn }}" class="btn btn--primary zoomCall__btn" target="_blank">
                                            {{ section.settings.book-call-text }}
                                        </a>
                                        <div class="zoomCall__bottonCopy">
                                            {{ section.settings.bottom-copy }}
                                        </div>
                                    </div>
                                </div>
                                <div class="zoomCallBook" data-book-call>
                                    <div class="zoomCallBook__content">
                                        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.heading }}" class="zoomCallBook__image" />
                                        <a href="{{ section.settings.book-call-btn }}" class="btn btn--primary zoomCallBook__btn">
                                            <span class="zoomCallBookBtnText--mobile">BOOK A SKIN CONSULT</span>
                                            <span class="zoomCallBookBtnText--desktop">BOOK A PERSONALIZED SKINCARE CONSULTATION</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="account-page__mobile-nav dropdown" data-dropdown>
                    <span>Order History</span>
                    <ul>
                        <li><a href="/account/addresses">Address Book</a></li>
                        {% if isUpscribeCustomer %}
                            <li><a href="https://{{ shop.domain }}/account?view=subscriptions#/">Your Membership</a></li>
                        {% endif %}
                    </ul>
                </div>

                <ul class="account-page__nav">
                    <li class="active">Order History</li>
                    <li><a href="/account/addresses">Address Book</a></li>

                    {% if isUpscribeCustomer %}
                        <li><a href="https://{{ shop.domain }}/account?view=subscriptions#/all">Your Membership</a></li>
                    {% endif %}
                    <li><a href="/account/logout">Log Out</a></li>
                </ul>
                <ul class="account-page__contact">
                    <li class="pre-header">Need Help?</li>
                    <li><a href="mailto:help@calderalab.com">help@calderalab.com</a></li>
                    <li><a href="tel:8883653159">888 365 3159</a></li>
                </ul>
            </div>
            <div class="grid__item medium--two-thirds large--seven-twelfths order-col-grid">
                <h1>Order History</h1>
                {% if customer.orders.size != 0 %}
                    <a href="https://track.calderalab.com/" class="btn btn--primary btn--trackorder" target="_blank">Track My Order</a>
                {% endif %}
                <div class="account-page__details">
                    {% paginate customer.orders by 20 %}
                        {% if customer.orders.size != 0 %}
                            <div class="table-wrap">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in customer.orders %}
                                        <tr>
                                            <td>{{ order.name | link_to: order.customer_url }}</td>
                                            <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
                                            <td>{{ order.fulfillment_status_label }}</td>
                                            <td>{{ order.total_price | money }}<a href="{{ order.customer_url }}">{% include 'icon' with 'arrow' %}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="account-page__no-orders">
                                <div class="table-wrap">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <p class="text-center">You have no order history. </p>
                                <div class="noOrder__content">
                                    <p>Save 20% with a Membership Now.</p>
                                    <a href="{{ settings.account_page_link }}" class="btn btn--primary">{{ settings.account_page_link_text }}</a>
                                </div>

                            </div>
                        {% endif %}

                        {% if paginate.pages > 1 %}
                            <hr>
                            <div class="pagination">
                                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                            </div>
                        {% endif %}
                    {% endpaginate %}
                </div>
                <div class="page swell-account">
                </div>
            </div>
            <div class="grid__item one-whole medium-hide text-center">
                <ul class="account-page__contact--mobile account-page__contact">
                    <li class="pre-header">Need Help?</li>
                    <li><a href="mailto:help@calderalab.com">help@calderalab.com</a></li>
                    <li><a href="tel:8883653159">888 365 3159</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{"swell-definition.js" | asset_url | script_tag}}
{{"swell-page-rewards.js" | asset_url | script_tag}}
{{"swell-page-referral.js" | asset_url | script_tag}}

{% schema %}
{
    "name": "Account",
    "settings": [
        {
            "type":"checkbox",
            "id":"zoom-call",
            "label":"Enable Zoom section",
            "default": false
        },
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default":"Book Your Personalized Skincare Consultation"
        },
        {
            "type":"html",
            "id":"copy",
            "label":"Copy",
            "default":"Get all your skincare questions answered with a complimentary 15 minute consultation with our resident esthetician, Kristin. "
        },
        {
            "type":"url",
            "id":"book-call-btn",
            "label":"Book A Call Link"
        },
        {
            "type":"text",
            "id":"book-call-text",
            "label":"Book A Call Text",
            "default":"Book Now"
        },
        {
            "type":"richtext",
            "id":"bottom-copy",
            "label":"Bottom Copy"
        }
    ]
}
{% endschema %}