{% if section.settings.testimonial_enable %}
{% assign customer-testimonial = false %}
{% assign expert-testimonial = false %}
{% for block in section.blocks %}
  {% if block.type == 'customer_testimonial' %}
    {% assign customer-testimonial = true %}
  {% elsif block.type == 'expert_testimonial' %}
    {% assign expert-testimonial = true %}
  {% endif %}
{% endfor %}
<div class="testimonials" style="background-image: url({{ section.settings.testimonial_background_image | img_url: '2880x' }});" data-mobile-image="{% if section.settings.testimonial_mobile_image %}{{ section.settings.testimonial_mobile_image | img_url: '1984x' }}{% endif %}" data-desktop-image="{{ section.settings.testimonial_background_image | img_url: '2880x' }}" data-mobile-image-check>
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item medium--one-half push--medium--one-quarter small--two-thirds push--small--one-sixth text-center">
        <h3>{{ section.settings.testimonial_title }}</h3>
        <ul class="testimonials__options" data-testimonial-options>
          {% if customer-testimonial %}
            <li data-handle="customers" class="active">Customers</li>
          {% endif %}
          {% if expert-testimonial %}
            <li data-handle="experts">Experts</li>
          {% endif %}
        </ul>
        {% if customer-testimonial %}
          <div class="testimonial__slider active" data-testimonial-slider data-handle="customers">
            {% for block in section.blocks %}
              {% if block.type == 'customer_testimonial' %}
                <div class="testimonial__slide text-center">
                  {% if block.settings.testimonial_image %}
                    <div class="testimonial__image" style="background-image: url({{ block.settings.testimonial_image | img_url: '83x' }});" data-rjs="{{ block.settings.testimonial_image | img_url: '166x' }}">
                    </div>
                  {% endif %}
                  <div class="testimonial__rating">
                    {% for i in (1..block.settings.testimonial_rating) %}
                      {%- include 'icon' with 'star' -%}
                    {% endfor %}
                  </div>
                  <div class="testimonial__content">
                    <p>{{ block.settings.testimonial | strip_html }}</p>
                    <span class="testimonial__author">{{ block.settings.testimonial_author }}</span>
                    <span class="testimonial__subline text--accent">{{ block.settings.testimonial_subline }}</span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {% if expert-testimonial %}
          <div class="testimonial__slider" data-testimonial-slider data-handle="experts">
            {% for block in section.blocks %}
              {% if block.type == 'expert_testimonial' %}
                <div class="testimonial__slide text-center">
                  {% if block.settings.testimonial_image %}
                    <div class="testimonial__image" style="background-image: url({{ block.settings.testimonial_image | img_url: '83x' }});" data-rjs="{{ block.settings.testimonial_image | img_url: '166x' }}">
                    </div>
                  {% endif %}
                  <div class="testimonial__rating">
                    {% for i in (1..block.settings.testimonial_rating) %}
                      {%- include 'icon' with 'star' -%}
                    {% endfor %}
                  </div>
                  <div class="testimonial__content">
                    <p>{{ block.settings.testimonial | strip_html }}</p>
                    <span class="testimonial__author">{{ block.settings.testimonial_author }}</span>
                    <span class="testimonial__subline text--accent">{{ block.settings.testimonial_subline }}</span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {% if section.settings.testimonial_link %}
          <a href="{{ section.settings.testimonial_link }}" class="btn btn--primary">{{ section.settings.testimonial_link_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Testimonials",
    "settings": [
      {
        "type":"checkbox",
        "id":"testimonial_enable",
        "label":"Testimonial Section Enable"
      },
      {
        "type":"image_picker",
        "id":"testimonial_background_image",
        "label":"Testimonial Section Background Image"
      },
      {
        "type":"image_picker",
        "id":"testimonial_mobile_image",
        "label":"Testimonial Section Mobile Background Image"
      },
      {
        "type":"text",
        "id":"testimonial_title",
        "label":"Testimonial Section Title",
        "default":"The reviews are in."
      },
      {
        "type":"url",
        "id":"testimonial_link",
        "label":"Testimonial Section Link"
      },
      {
        "type":"text",
        "id":"testimonial_link_text",
        "label":"Testimonial Section Link Text",
        "default":"Read all Reviews"
      }
    ],
    "blocks": [
      {
        "type": "customer_testimonial",
        "name": "Customer Testimonial",
        "limit": 3,
        "settings": [
          {
            "type":"image_picker",
            "id":"testimonial_image",
            "label":"Testimonial Image"
          },
          {
            "type":"range",
            "id":"testimonial_rating",
            "label":"Testimonial Rating",
            "min": 1,
            "max": 5,
            "default": 5,
            "step": 1,
            "unit":"str"
          },
          {
            "type":"textarea",
            "id":"testimonial",
            "label":"Testimonial Content"
          },
          {
            "type":"text",
            "id":"testimonial_author",
            "label":"Testimonial Author"
          },
          {
            "type":"text",
            "id":"testimonial_subline",
            "label":"Testimonial Subline"
          }
        ]
      },
      {
        "type": "expert_testimonial",
        "name": "Expert Testimonial",
        "limit": 3,
        "settings": [
          {
            "type":"image_picker",
            "id":"testimonial_image",
            "label":"Testimonial Image"
          },
          {
            "type":"range",
            "id":"testimonial_rating",
            "label":"Testimonial Rating",
            "min": 1,
            "max": 5,
            "default": 5,
            "step": 1,
            "unit":"str"
          },
          {
            "type":"textarea",
            "id":"testimonial",
            "label":"Testimonial Content"
          },
          {
            "type":"text",
            "id":"testimonial_author",
            "label":"Testimonial Author"
          },
          {
            "type":"text",
            "id":"testimonial_subline",
            "label":"Testimonial Subline"
          }
        ]
      }
    ]
  }
{% endschema %}