<div class="c-landerTwocol c-landerTwocol--video">
    <div class="wrapper">
        <div class="c-landerTwocol__row">
            <div class="c-landerTwocol__image">
                <div class="c-landerTwocol__vtext">{{ section.settings.vtext }}</div>
                <a href="#lander-video-popup" data-popup-trigger>
                    <img src="{{ section.settings.image | img_url: 'master' }}" class="c-landerTwocol__image--desktop" />
                    <img src="{{ section.settings.image-mobile | img_url: 'master' }}" class="c-landerTwocol__image--mobile" />
                </a>
            </div>
            <div class="c-landerTwocol__content">
                <div class="c-landerTwocol__box">
                    <h4 class="c-landerTwocol__heading">{{ section.settings.heading }}</h4>
                    <div class="c-landerTwocol__copy">
                        {{ section.settings.copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lander-video-popup" class="popup mfp-hide mfp-with-anim product-video-popup">
        <div class="popup__content">
          <video class="video-popup__video" poster="{{ section.settings.image | img_url: 'master' }}" controls="">
                <source src="{{ section.settings.videourl }}" type="video/mp4">
          </video>
        </div>
    </div>
</div>
<!--c-landerTwocol-->

{% schema %}
  {
    "name": "Video Two Col",
    "settings": [
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
        {
            "type":"image_picker",
            "id":"image-mobile",
            "label":"Image Mobile"
        },
        {
            "type":"text",
            "id":"vtext",
            "label":"Vertical Text",
            "default":"NATURE’S PUREST"
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default":"Cleaner Than Clean Skincare"
        },
        {
            "type":"html",
            "id":"copy",
            "label":"Copy",
            "default":"We made The Good to prove that high-performance skincare doesn’t require synthetic ingredients or harsh chemical processes. Clean can be powerful. "
        },
        {
            "type":"html",
            "id":"videourl",
            "label":"videourl"
        },
        {
            "type":"text",
            "id":"btntext",
            "label":"Button Text",
            "default":"get 20% off"
        },
        {
            "type":"url",
            "id":"btnurl",
            "label":"Button Url"
        }
    ]
  }
{% endschema %}