<style>
  @font-face {
    font-family: 'Adobe garamond pro';
    src: url('https://cdn.shopify.com/s/files/1/0079/7193/0170/files/6193a0526165ab0e7e3fe8bf_Adobe_Garamond_Pro_Regular.ttf?v=1638359329') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Avenirltstd book';
    src: url('https://cdn.shopify.com/s/files/1/0079/7193/0170/files/6193a095f5dbb184aa366e4c_AvenirLTStd-Book.otf?v=1638359382') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Avenirltstd';
    src: url('https://cdn.shopify.com/s/files/1/0079/7193/0170/files/6193a0959e26ca5b0e2ecb2a_AvenirLTStd-Black.otf?v=1638359494') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Avenirltstd roman';
    src: url('https://cdn.shopify.com/s/files/1/0079/7193/0170/files/6193a096c9880a801537c917_AvenirLTStd-Roman.otf?v=1638359584') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  .review-meters{
    width: 200px;
  }
  .seen-in-label{
    top: 0px;
  }
  .seen-in-wrap.bottomcta{
    padding-top: 32px;
    margin-top: 8px;
  }
  .banner-cta-wrap.final-cta{
    margin-bottom: 0px;
  }
  @media only screen and (max-width: 479px) {
    .seen-in-wrap.bottomcta {
      margin-top: 48px;
    }
  }
</style>
  <div class="mobile-scroll-offer wf-section">
    <div class="container scroll-offer">
      <div class="offer-wrap">
        <div class="offer-cta-txt">SAVE 30% with this Limited-Time HOLIDAY OFFER</div>
        <div class="offer-cta-wrap">
          <a href="https://calderalab.com/products/the-regimen" class="cta scroll-offer w-inline-block">
            <div class="cta-txt white">Shop Now</div>
          </a>
          <div class="banner-guarantee-txt">60 Day Money Back Guarantee</div>
        </div>
      </div>
    </div>
  </div>
  <div class="header wf-section">
    <div id="topbar" class="nav-wrap">
      <div class="container">
        <div class="nav-bar">
          <a href="#" class="nav-logo-lb w-inline-block"><img src="{{ section.settings.logo | img_url: 'master' }}" loading="eager" alt="Advertorial logo" class="nav-logo-img"></a>
          <a href="https://calderalab.com/products/the-regimen" class="nav-cta w-inline-block">
            <div class="cta-content-wrap">
              <div class="cta-txt">SHOP NOW</div>
              <div class="cta-icon-wrap"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content wf-section">
    <div class="container">
      <div class="content">
        <div class="page-content-wrap">
          <div class="post">
            <div id="header" class="post-header" style="background-image: url({{ section.settings.post_header | img_url: 'master' }});">
              <h1 class="header-h">This Wyoming Company Has Redefined Men&#x27;s Skincare With a 3-Step Routine That You&#x27;ll Actually Follow... And Fall in Love With</h1>
              <p class="header-p">Thousands of Men Say It Gave Them Smoother, Younger, and Brighter Skin in as Quickly as 4 Weeks.</p>
              <div class="adv-visual-wrap header">
                <div style="padding-top:56.17021276595745%" class="w-embed-youtubevideo header-vid"><iframe src="https://www.youtube.com/embed/boUXnDAWRD4?rel=0&amp;controls=1&amp;autoplay=1&amp;mute=1&amp;start=0" frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
              </div>
              <div class="seen-in-wrap">
                <div class="logo-wrap"><img src="{{ section.settings.brand_1 | img_url: 'master' }}" loading="lazy" alt="Company logo" class="brand-logo"></div>
                <div class="logo-wrap"><img src="{{ section.settings.brand_2 | img_url: 'master' }}" loading="lazy" alt="Company logo" class="brand-logo"></div>
                <div class="logo-wrap"><img src="{{ section.settings.brand_3 | img_url: 'master' }}" loading="lazy" alt="Company logo" class="brand-logo"></div>
                <div class="logo-wrap"><img src="{{ section.settings.brand_4 | img_url: 'master' }}" loading="lazy" alt="Company logo" class="brand-logo"></div>
                <div class="seen-in-label header">
                  <div class="seen-in-label-txt">featured in</div>
                </div>
              </div>
            </div>
            <div class="main-post">
              <div class="intro">
                <div class="headings-wrap">
                  <h2 class="main-h2">Caldera + Lab&#x27;s clinically proven regimen keeps being called an anti-aging breakthrough for men.</h2>
                  <h3 class="section-sh">Is it worth its price &amp; how good are the &quot;Guaranteed Results&quot;?</h3>
                </div>
                <div class="author-box">
                  <div class="share-content-wrap">
                    <div id="w-node-a7d0c68b-8f19-3e22-0933-530f309dbf72-7184b9e3" class="share-details">
                      <div class="share-wrap">
                        <div class="share-text">share</div>
                        <div class="share-icons">
                          <a href="#" target="_blank" class="share-icon w-inline-block"><img src="{{ section.settings.facebook | img_url: 'master' }}" loading="eager" alt="Facebook share icon"></a>
                          <a href="#" target="_blank" class="share-icon w-inline-block"><img src="{{ section.settings.twitter | img_url: 'master' }}" loading="eager" alt="Twitter share icon"></a>
                          <a href="#" class="share-icon w-inline-block"><img src="{{ section.settings.linkedin | img_url: 'master' }}" loading="eager" alt="LinkedIn share icon"></a>
                          <a href="mailto:emailaddress@gmail.com?subject=Check%20this%20out!" class="share-icon w-inline-block"><img src="{{ section.settings.email | img_url: 'master' }}" loading="eager" alt="Email share icon"></a>
                        </div>
                      </div>
                      <div class="author-info">
                        <div class="written-wrap">
                          <div class="text-written-by-2"><em class="written-by-txt">Written by</em></div>
                          <div class="blogger-name-txt">Caldera</div>
                        </div>
                        <div class="publish-date-txt">tuesday, november 16, 2021</div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="paragraph-normal">If you&#x27;re skeptical about skincare products and not a fan of adding new ones to your bathroom counter every other month... you have every reason to be. Today, most creams, serums, and cleansers are full of questionable ingredients and irritants and have little to no scientific proof to back up their big claims.</p>
                <p class="paragraph-normal">However, each year there tends to be one product that&#x27;s worth a closer look. This year all eyes are on <span class="green-span">The Regimen from Caldera + Lab</span>.</p>
                <p class="paragraph-normal"><span class="green-span">The Regimen</span> features products that have already received over <span class="bold-span">1,000 positive reviews, </span>were proven by leading clinical studies (including a pioneering antioxidant study), featured in<span class="bold-span"> Forbes, Men&#x27;s Journal, Financial Times, </span>and recently even awarded <span class="bold-span">The 2021 GQ Grooming Award.</span></p>
              </div>
              <div class="men-who-deserve-the-best">
                <h2 id="w-node-a3366c76-1c21-e171-0cbc-023bace74685-7184b9e3">For Men Who Deserve The Best</h2>
                <div class="the-best-img-wrap">
                  <img src="{{ section.settings.who-deserve-the-best | img_url:'master' }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 67vw, 65vw" srcset="{{ section.settings.who-deserve-the-best | img_url:'master' }} 500w, {{ section.settings.who-deserve-the-best | img_url:'master' }} 800w, {{ section.settings.who-deserve-the-best | img_url:'master' }} 971w" alt="Image placeholder" class="the-best-img">
                </div>
                <p class="paragraph-normal"><span class="green-span">Caldera + Lab</span> was started by Stacy Keibler &amp; Jared Pobre after they&#x27;ve noticed a lack of high-performance skincare for men. The two wanted to create products that would follow the most rigorous manufacturing standards, contain only the cleanest ingredients and <span class="bold-span">work for ALL men, no matter their skin type</span>.</p>
                <p class="paragraph-normal"><span class="green-span">The 3-Step Regimen</span> is the result of those ambitions. It contains a <span class="bold-span">Multifunctional Serum, Fortifying Moisturizer and Balancing Cleanser</span> working together to:</p>
                <div class="benefits-wrap">
                  <div class="benefit-wrap">
                    <img src="{{ section.settings.check_mark | img_url: 'master' }}" loading="lazy" alt="" class="benefit-icon">
                    <p class="paragraph-big benefit">Help Reduce Appearance of Signs of Skin Aging</p>
                  </div>
                  <div class="benefit-wrap">
                    <img src="{{ section.settings.check_mark | img_url: 'master' }}" loading="lazy" alt="" class="benefit-icon">
                    <p class="paragraph-big benefit">Improve Appearance of Dark Spots &amp; Skin Tone</p>
                  </div>
                  <div class="benefit-wrap">
                    <img src="{{ section.settings.check_mark | img_url: 'master' }}" loading="lazy" alt="" class="benefit-icon">
                    <p class="paragraph-big benefit">Help Reduce Visibility of Fine Lines &amp; Wrinkles</p>
                  </div>
                  <div class="benefit-wrap">
                    <img src="{{ section.settings.check_mark | img_url: 'master' }}" loading="lazy" alt="" class="benefit-icon">
                    <p class="paragraph-big benefit">Quickly Moisturize The Skin</p>
                  </div>
                  <div class="benefit-wrap">
                    <img src="{{ section.settings.check_mark | img_url: 'master' }}" loading="lazy" alt="" class="benefit-icon">
                    <p class="paragraph-big benefit">Help Skin Appear Tighter &amp; Smoother</p>
                  </div>
                </div>
                <p class="paragraph-normal bold green-text center">... And it (over)delivers on all those promises.</p>
              </div>
              <div class="_1000s-men-report">
                <h2 class="men-report-on">Thousands of Men Report on Results</h2>
                <div class="testimonials-wrap">
                  <div id="w-node-_318545c9-2fb8-2695-9adb-2a7b6422775d-7184b9e3" class="testimonial-photo-wrap">
                    <img src="{{ section.settings.testimonial_1 | img_url:'master' }}" loading="lazy" alt="" class="t-img">
                    <img src="{{ section.settings.rating_1 | img_url:'master'}}" loading="lazy" alt="" class="t-rating">
                    <div class="testimonial-bottom-wrap">
                      <p class="testimonial-p">“I use The Good every single night as my last step to seal everything in and I wake up with smooth and glowing skin.”<br></p>
                      <p class="testimonial-p author">Andre N.</p>
                      <div class="review-vb">
                        <div class="review-vb-icon">
                          <div class="verified-ic">
                          {{ section.settings.verified_image}}
                          </div>
						</div>
                        <div class="review-vb-text">
                          <div class="verified-txt">Verified Customer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial-photo-wrap">
                    <img src="{{ section.settings.testimonial_2 | img_url:'master' }}" loading="lazy" alt="" class="t-img">
                    <div class="testimonial-bottom-wrap">
                      <img src="{{ section.settings.rating_2 | img_url:'master'}}" loading="lazy" alt="" class="t-rating">
                      <p class="testimonial-p">&quot;I use this product every day and I can&#x27;t rate it enough. I love that it cleans deep and yet doesn&#x27;t dry out my skin. I LOVE it.&quot;<br></p>
                      <p class="testimonial-p author">Aiden b.</p>
                      <div class="review-vb">
                        <div class="review-vb-icon">
                          <div class="verified-ic">
                          {{ section.settings.verified_image}}
                          </div>
                        </div>
                        <div class="review-vb-text">
                          <div class="verified-txt">Verified Customer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial-photo-wrap">
                    <img src="{{ section.settings.testimonial_3 | img_url:'master' }}" loading="lazy" alt="" class="t-img">
                    <div class="testimonial-bottom-wrap">
                      <img src="{{ section.settings.rating_3 | img_url:'master'}}" loading="lazy" alt="" class="t-rating">
                      <p class="testimonial-p"> “I love all the Caldera Lab products but I have NEVER seen my skin look like it does with this moisturizer. It’s unbelievable, I look in the mirror and barely recognize my skin.”<br></p>
                      <p class="testimonial-p author">dr. terry w.</p>
                      <div class="review-vb">
                        <div class="review-vb-icon">
                          <div class="verified-ic">
                          {{ section.settings.verified_image}}
                          </div>
                        </div>
                        <div class="review-vb-text">
                          <div class="verified-txt">Verified Customer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cta-banner" style="background-image: url({{ section.settings.banner_img | img_url:'master' }}),linear-gradient(180deg,rgba(22,21,21,.6),rgba(22,21,21,.6)),url({{ section.settings.mountains | img_url:'master' }});">
                  <div class="banner-info-wrap">
                    <h3 class="banner-heading">SAVE 30% with this Limited-Time<span> HOLIDAY OFFER</span></h3>
                    <div class="banner-cta-wrap">
                      <div class="rating-wrap">
                        <div class="stars-grid">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                        </div>
                        <div class="rating-txt">1,130+ Reviews</div>
                      </div>
                      <a href="https://calderalab.com/products/the-regimen" class="cta w-inline-block">
                        <div class="cta-txt">SHOP NOW</div>
                        <div class="cta-icon-wrap"></div>
                      </a>
                      <div class="banner-guarantee-txt">60 Day Money Back Guarantee</div>
                    </div>
                  </div>
                  <div class="banner-bf-wrap">
                    <img src="{{ section.settings.offer_badge | img_url:'master' }}" loading="lazy" alt="" class="banner-bf">
                  </div>
                </div>
              </div>
              <div class="complete-regimen">
                <h2>Complete Skincare Regimen</h2>
                <p class="paragraph-normal">If you want to fully benefit from <span class="green-span">Caldera + Lab's</span> formulations, it&#x27;s best to use their <span class="green-span">3-Product Regimen</span>. It&#x27;s designed for <span class="bold-span">use in the morning and evening</span>, and the first thing you&#x27;ll love about is its simplicity. <span class="bold-span">It&#x27;s made for busy men, who don&#x27;t have hours to spend in front of a mirror.</span></p>
                <div class="product-intros">
                  <div class="product-intro-row">
                    <div class="product-intro-row-img-wrap">
                      <h3 class="product-intro-h">The Good<br> <span class="span-garamond">Serum</span></h3>
                      <div class="product-intro-wrap">
                        <img src="{{ section.settings.good_serum | img_url:'master' }}" loading="lazy" alt="" class="product-intro-img">
                        <div class="product-intro-ingredients-wrap">
                          <div class="product-intro-ingredient-wrap">
                            <img src="{{ section.settings.ingredient_1 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Elderflower</div>
                          </div>
                          <div class="product-intro-ingredient-wrap">
                            <img src="{{ section.settings.ingredient_2 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Astralagus <br>Root</div>
                          </div>
                          <div class="product-intro-ingredient-wrap">
                            <img src="{{ section.settings.ingredient_3 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Dandelion</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-d1579f54-e52f-f8ba-7bc7-227be0529d41-7184b9e3" class="product-intro-row-txt-wrap">
                      <p class="paragraph-normal product-intro">Containing 27 botanicals, including ingredients wild-harvested in high altitudes of the Teton Mountain Range, this <span class="green-span">Multifunctional Serum</span> is designed to be the simplest and most effective skincare product you&#x27;ll ever use.</p>
                      <p class="paragraph-normal product-intro"><span class="bold-span">It&#x27;s an award-winning combination of Nature&#x27;s best &amp; Science that:</span></p>
                      <ul role="list" class="product-intro-benefit-list">
                        <li>
                          <p class="paragraph-normal product-intro">Moisturizes your skin to reduce the appearance of fine lines and wrinkles</p>
                        </li>
                        <li>
                          <p class="paragraph-normal product-intro">Powers up your skin with antioxidants to help fight environmental stress</p>
                        </li>
                        <li>
                          <p class="paragraph-normal product-intro list-last">Helps your skin appear tighter, smoother and more firm</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-intro-row row-2">
                    <div id="w-node-ffc71b4a-8968-f9fa-458d-a58d7b2556e7-7184b9e3" class="product-intro-row-txt-wrap row-2">
                      <p class="paragraph-normal product-intro">If you&#x27;re using the wrong cleanser (or basic soap) for your face, you can strip your skin of its natural oils and induce inflammation.</p>
                      <p class="paragraph-normal product-intro"><span class="bold-span">You&#x27;ll love using </span><span class="green-span">Caldera + Lab Balancing Cleanser</span><span class="bold-span"> because, unlike most skin-cleansing products, it&#x27;s made with natural plants, probiotic-based ingredients and 60+ glacial minerals that:</span></p>
                      <ul role="list" class="product-intro-benefit-list">
                        <li>
                          <p class="paragraph-normal product-intro">Invigorate sensitive skin without causing irritation</p>
                        </li>
                        <li>
                          <p class="paragraph-normal product-intro">Gently clean &amp; refresh all skin types</p>
                        </li>
                        <li>
                          <p class="paragraph-normal product-intro list-last">Helps combat the effects of environmental stressors</p>
                        </li>
                      </ul>
                    </div>
                    <div id="w-node-ffc71b4a-8968-f9fa-458d-a58d7b2556d0-7184b9e3" class="product-intro-row-img-wrap">
                      <h3 class="product-intro-h">The Clean Slate<br>‍ <span class="span-garamond">Cleanser</span></h3>
                      <div class="product-intro-wrap"><img src="{{ section.settings.cleanser | img_url:'master' }}" loading="lazy" alt="" class="product-intro-img">
                        <div class="product-intro-ingredients-wrap">
                          <div class="product-intro-ingredient-wrap"><img src="{{ section.settings.cleanser_ingredients_1 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Glacial <br>Minerals</div>
                          </div>
                          <div class="product-intro-ingredient-wrap"><img src="{{ section.settings.cleanser_ingredients_2 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Fireweed</div>
                          </div>
                          <div class="product-intro-ingredient-wrap"><img src="{{ section.settings.cleanser_ingredients_3 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Nelumbo <br>Lotus</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="product-intro-row row-3">
                    <div class="product-intro-row-img-wrap">
                      <h3 class="product-intro-h">The Base Layer<br> <span class="span-garamond">Moisturizer</span></h3>
                      <div class="product-intro-wrap">
                        <img src="{{ section.settings.moisturizer | img_url:'master' }}" loading="lazy" alt="" class="product-intro-img">
                        <div class="product-intro-ingredients-wrap">
                          <div class="product-intro-ingredient-wrap">
                            <img src="{{ section.settings.moisturizer_ingredient_1 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Buddleja Plant<br>Stem Cells</div>
                          </div>
                          <div class="product-intro-ingredient-wrap">
                            <img src="{{ section.settings.moisturizer_ingredient_2 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Elkhorn<br>Sea Moss</div>
                          </div>
                          <div class="product-intro-ingredient-wrap">
                            <img src="{{ section.settings.moisturizer_ingredient_3 | img_url:'master' }}" loading="lazy" alt="" class="product-intro-ingredient-img">
                            <div class="product-intro-ingredient-name">Plant-Derived<br>Squalane</div>
                          </div>
                        </div>
                        </div>
                      </div>
                    <div id="w-node-b3fa9af5-0a06-8965-e9ba-474045ff7555-7184b9e3" class="product-intro-row-txt-wrap">
                      <p class="paragraph-normal product-intro">Chances are, like most men, you've used moisturizers that leave you feeling greasy and looking shiny. Not to mention, many of those products are heavy, greasy and can even clog your pores. But <span class="green-span">The Base Layer</span> is an entirely different experience.</p>
                      <p class="paragraph-normal product-intro"><span class="bold-span">It&#x27;s exceptionally nutrient-dense but absorbs quickly and leaves a matte finish. That&#x27;s the benefit of its GMO-Free &amp; organically farmed ingredients that are shown to:</span></p>
                      <ul role="list" class="product-intro-benefit-list">
                        <li>
                          <p class="paragraph-normal product-intro">Help defend against environmental stress &amp; pollution</p>
                        </li>
                        <li>
                          <p class="paragraph-normal product-intro">Deeply nourish, moisturize &amp; help firm the appearance of the skin</p>
                        </li>
                        <li>
                          <p class="paragraph-normal product-intro list-last">Help reduce the look of dark spots, fine lines &amp; wrinkles</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="cta-banner" style="background-image: url({{ section.settings.banner_img | img_url:'master' }}),linear-gradient(180deg,rgba(22,21,21,.6),rgba(22,21,21,.6)),url({{ section.settings.mountains | img_url:'master' }});">
                  <div class="banner-info-wrap">
                    <h3 class="banner-heading">SAVE 30% with this Limited-Time<span> HOLIDAY OFFER</span></h3>
                    <div class="banner-cta-wrap">
                      <div class="rating-wrap">
                        <div class="stars-grid">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                        </div>
                        <div class="rating-txt">1,130+ Reviews</div>
                      </div>
                      <a href="https://calderalab.com/products/the-regimen" class="cta w-inline-block">
                        <div class="cta-txt">SHOP NOW</div>
                        <div class="cta-icon-wrap"></div>
                      </a>
                      <div class="banner-guarantee-txt">60 Day Money Back Guarantee</div>
                    </div>
                  </div>
                  <div class="banner-bf-wrap">
                    <img src="{{ section.settings.offer_badge | img_url:'master' }}" loading="lazy" alt="" class="banner-bf">
                  </div>
                </div>
              </div>
              <div class="_2-steps">
                <h2>2 Steps. AM &amp; PM</h2>
                <p class="paragraph-normal bold">Using <span class="green-span">The Regimen</span> couldn&#x27;t be more straightforward:</p>
                <div class="steps-wrap">
                  <div class="am-column">
                    <div class="steps-column-img-wrap">
                      <div class="steps-img-label">
                        <div class="steps-img-label-txt">IN THE MORNING</div>
                      </div>
                      <img src="{{ section.settings.morning | img_url:'master' }}" loading="lazy" alt="" class="steps-img">
                    </div>
                    <div class="steps-bullets-wrap">
                      <div class="step-bullet"><img src="{{ section.settings.step_1 | img_url:'master' }}" loading="lazy" alt="" class="step-number">
                        <p class="step-p">Cleanse with The Clean Slate</p>
                      </div>
                      <div class="step-bullet last"><img src="{{ section.settings.step_2 | img_url:'master' }}" loading="lazy" alt="" class="step-number">
                        <p class="step-p">Moisturize with The Base Layer</p>
                      </div>
                    </div>
                  </div>
                  <div class="pm-column">
                    <div class="steps-column-img-wrap">
                      <div class="steps-img-label">
                        <div class="steps-img-label-txt">IN THE EVENING</div>
                      </div><img src="{{ section.settings.evening | img_url:'master' }}" loading="lazy" alt="" class="steps-img">
                    </div>
                    <div class="steps-bullets-wrap">
                      <div class="step-bullet"><img src="{{ section.settings.step_1 | img_url:'master' }}" loading="lazy" alt="" class="step-number">
                        <p class="step-p">Cleanse with The Clean Slate</p>
                      </div>
                      <div class="step-bullet last"><img src="{{ section.settings.step_2 | img_url:'master' }}" loading="lazy" alt="" class="step-number">
                        <p class="step-p">Apply The Good Serum</p>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="paragraph-normal">Expect the energizing formula of <span class="green-span">The Base Layer</span> to make you feel on top of your game in the morning and the subtle, relaxing smell of <span class="green-span">The Good Serum</span> to help you fall asleep in the evening. Wake up looking your best &amp; repeat.</p>
                <p class="paragraph-normal">All three products are designed to work for all skin types.</p>
              </div>
              <div class="proven-results">
                <h2>Clinically Proven Results</h2>
                <p class="paragraph-normal"><span class="green-span">Caldera + Lab</span> customers start to see results within just a few days. The effectiveness was studied by the U.S.-based clinical study and the first-of-its-kind antioxidant study.</p>
                <div class="results-wrap">
                  <div class="result-wrap">
                    <div class="result-number">96%</div>
                    <div class="result-txt">Reported healthier <br>looking skin</div>
                  </div>
                  <div class="result-wrap">
                    <div class="result-number">91%</div>
                    <div class="result-txt">Reported smoother looking skin</div>
                  </div>
                  <div class="result-wrap">
                    <div class="result-number">91%</div>
                    <div class="result-txt">Reported <br>less dryness</div>
                  </div>
                  <div class="result-wrap">
                    <div class="result-number">89%</div>
                    <div class="result-txt">Showed improved appearance of radiance &amp; luminosity</div>
                  </div>
                  <div class="result-wrap">
                    <div class="result-number">85%</div>
                    <div class="result-txt">Showed more even looking skin tone</div>
                  </div>
                  <div class="result-wrap">
                    <div class="result-number">87%</div>
                    <div class="result-txt">Showed reduced look of fine lines &amp; wrinkles</div>
                  </div>
                </div>
                <div class="results-img-wrap">
                  <img src="{{ section.settings.million-banner-mobile | img_url:'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.million-banner-mobile | img_url:'master' }} 500w, {{ section.settings.million-banner-mobile | img_url:'master' }} 800w, {{ section.settings.million-banner-mobile | img_url:'master' }} 1080w, {{ section.settings.million-banner-mobile | img_url:'master' }} 1165w" alt="Image placeholder" class="results-img mobile">
                  <img src="{{ section.settings.result_banner | img_url:'master' }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 67vw, 65vw" srcset="{{ section.settings.result_banner | img_url:'master' }} 800w, {{ section.settings.result_banner | img_url:'master' }} 1080w, {{ section.settings.result_banner | img_url:'master' }} 1600w, {{ section.settings.result_banner | img_url:'master' }} 2000w, {{ section.settings.result_banner | img_url:'master' }} 2600w, {{ section.settings.result_banner | img_url:'master' }} 3200w, {{ section.settings.result_banner | img_url:'master' }} 4113w" alt="Image placeholder" class="results-img">
                </div>
                <p class="paragraph-normal shown-by">Shown by Caldera + Lab pioneering study.</p>
              </div>
              <div class="undeniable-difference">
                <h2>Undeniable Difference, Unmatched Transparency</h2>
                <p class="paragraph-normal">Most skincare companies conduct very limited trials (if any), and their results can be easily manipulated or distorted. They typically test for 30 days with roughly 10-15 participants.</p>
                <p class="paragraph-normal bold"><span class="green-span">Caldera + Lab team</span> went the extra mile to guarantee the highest credibility, testing for 60 days with 53 participants.</p>
                <div class="before-and-after-wrap">
                  <div class="before-and-after-row">
                    <div class="before-wrap">
                      <img src="{{ section.settings.before_1 | img_url:'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.before_1 | img_url:'master' }} 1080w, {{ section.settings.before_1 | img_url:'master' }}" alt="" class="before-and-after-img">
                      <div class="before-and-after-txt">before</div>
                    </div>
                    <div class="before-wrap">
                      <img src="{{ section.settings.after_1 | img_url:'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.after_1 | img_url:'master' }} 1080w, {{ section.settings.after_1 | img_url:'master' }} 1200w" alt="" class="before-and-after-img">
                      <div class="before-and-after-txt">after</div>
                    </div>
                  </div>
                  <div class="before-and-after-row">
                    <div class="before-wrap"><img src="{{ section.settings.before_2 | img_url:'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.before_2 | img_url:'master' }} 1080w, {{ section.settings.before_2 | img_url:'master' }} 1200w" alt="" class="before-and-after-img">
                      <div class="before-and-after-txt">before</div>
                    </div>
                    <div class="before-wrap"><img src="{{ section.settings.after_2 | img_url:'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.after_2 | img_url:'master' }} 1080w, {{ section.settings.after_2 | img_url:'master' }} 1200w" alt="" class="before-and-after-img">
                      <div class="before-and-after-txt">after</div>
                    </div>
                  </div>
                  <div class="before-and-after-row">
                    <div class="before-wrap"><img src="{{ section.settings.before_3 | img_url:'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.before_3 | img_url:'master' }} 1080w, {{ section.settings.before_3 | img_url:'master' }} 1200w" alt="" class="before-and-after-img">
                      <div class="before-and-after-txt">before</div>
                    </div>
                    <div class="before-wrap"><img src="{{ section.settings.after_3 | img_url:'master' }}" loading="lazy" sizes="100vw" srcset="{{ section.settings.after_3 | img_url:'master' }} 500w, {{ section.settings.after_3 | img_url:'master' }} 800w, {{ section.settings.after_3 | img_url:'master' }} 1080w, {{ section.settings.after_3 | img_url:'master' }} 1200w" alt="" class="before-and-after-img">
                      <div class="before-and-after-txt">after</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="manufacturing">
                <h2>Green, Cutting-Edge Manufacturing</h2>
                <p class="paragraph-normal">The results reported by thousands of men using <span class="green-span">The Regimen</span> and verified by clinical studies wouldn&#x27;t be possible with standard manufacturing.</p>
                <p class="paragraph-normal"><span class="green-span">Caldera + Lab Team</span> decided to go the extra mile for their customers once again and used <span class="bold-span">advanced skincare production process</span> instead of cutting corners as most brands do.</p>
                <div class="process-bullets-wrap">
                  <div class="process-bullet">
                    <div class="process-bullet-img-wrap">
                      <img src="{{ section.settings.manufacturing_1 | img_url:'master' }}" loading="lazy" alt="" class="process-bullet-img"></div>
                    <div class="process-bullet-txt-wrap">
                      <h3 class="process-h">Extraction</h3>
                      <p class="process-p">Patented Oleo-Eco  &amp; Supercritical Extraction guarantees the maximum concentration of nutrients and minimum waste.</p>
                    </div>
                  </div>
                  <div class="process-bullet">
                    <div class="process-bullet-img-wrap">
                      <img src="{{ section.settings.manufacturing_2 | img_url:'master' }}" loading="lazy" alt="" class="process-bullet-img"></div>
                    <div class="process-bullet-txt-wrap">
                      <h3 class="process-h">Cryogenic Grinding</h3>
                      <p class="process-p">This method preserves 15% more nutrients than conventional processes and is done at sub-zero temperatures.</p>
                    </div>
                  </div>
                  <div class="process-bullet">
                    <div class="process-bullet-img-wrap">
                      <img src="{{ section.settings.manufacturing_3 | img_url:'master' }}" loading="lazy" alt="" class="process-bullet-img"></div>
                    <div class="process-bullet-txt-wrap">
                      <h3 class="process-h">4-Weeks Maceration</h3>
                      <p class="process-p">Done in a temperature and humidity regulated area, this extraction process allows for the best preservation of ingredients&#x27; benefits.</p>
                    </div>
                  </div>
                  <div class="process-bullet">
                    <div class="process-bullet-img-wrap">
                      <img src="{{ section.settings.manufacturing_4 | img_url:'master' }}" loading="lazy" alt="" class="process-bullet-img"></div>
                    <div class="process-bullet-txt-wrap">
                      <h3 class="process-h">100% Pure Steam Distillation</h3>
                      <p class="process-p">Using dry steam and low pressure, this distillation method creates pure quality botanical oils and essences.</p>
                    </div>
                  </div>
                  <div class="process-bullet">
                    <div class="process-bullet-img-wrap">
                      <img src="{{ section.settings.manufacturing_5 | img_url:'master' }}" loading="lazy" alt="" class="process-bullet-img"></div>
                    <div class="process-bullet-txt-wrap">
                      <h3 class="process-h">Rigorous Clinical Testing</h3>
                      <p class="process-p">All Caldera + Lab formulas in The Regimen have passed multiple scientific tests, including microbial, stability, and efficacy studies.</p>
                    </div>
                  </div>
                  <div class="cta-banner" style="background-image: url({{ section.settings.banner_img | img_url:'master' }}),linear-gradient(180deg,rgba(22,21,21,.6),rgba(22,21,21,.6)),url({{ section.settings.mountains | img_url:'master' }});">
                    <div class="banner-info-wrap">
                      <h3 class="banner-heading">SAVE 30% with this Limited-Time<span> HOLIDAY OFFER</span></h3>
                      <div class="banner-cta-wrap">
                        <div class="rating-wrap">
                          <div class="stars-grid">
                            <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                            <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                            <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                            <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                            <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star"></div>
                          <div class="rating-txt">1,130+ Reviews</div>
                        </div>
                        <a href="https://calderalab.com/products/the-regimen" class="cta w-inline-block">
                          <div class="cta-txt">SHOP NOW</div>
                          <div class="cta-icon-wrap"></div>
                        </a>
                        <div class="banner-guarantee-txt">60 Day Money Back Guarantee</div>
                      </div>
                    </div>
                    <div class="banner-bf-wrap">
                      <img src="{{ section.settings.offer_badge | img_url:'master' }}" loading="lazy" alt="" class="banner-bf"></div>
                  </div>
                </div>
              </div>
              <div class="ingredients">
                <h2>Nature&#x27;s Best &amp; Wildest</h2>
                <p class="paragraph-normal">Using the <span class="bold-span">world&#x27;s most advanced manufacturing processes</span> only makes sense if the quality of the ingredients is impeccable in the first place.</p>
                <p class="paragraph-normal"><span class="green-span">Caldera + Lab&#x27;s 3-Step Regimen</span> is made entirely GMO-Free and contains ingredients sourced from organic farming and wild harvesting.</p>
                <h3 class="section-sh">Explore The Ingredients</h3>
                <p class="paragraph-normal">Inside...</p>
                <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
                  <div class="tabs-menu w-tab-menu">
                    <a data-w-tab="Tab 1" class="tab first w-inline-block w-tab-link w--current">
                      <div class="tab-txt">The Good</div>
                    </a>
                    <a data-w-tab="Tab 2" class="tab w-inline-block w-tab-link">
                      <div class="tab-txt">The Clean Slate</div>
                    </a>
                    <a data-w-tab="Tab 3" class="tab third w-inline-block w-tab-link">
                      <div class="tab-txt">The Base Layer</div>
                    </a>
                  </div>
                  <div class="tabs-content w-tab-content">
                    <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                      <div class="ingredients-bullets-wrap">
                        <h3 id="w-node-_26f40182-3fa9-4905-51f4-c4c2e99059bc-7184b9e3" class="ingredient-tabs-h">Key Ingredients</h3>
                        <div id="w-node-_26a53dd1-ea07-0f74-3df9-cb5b2b6c731f-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap">
                            <img loading="lazy" src="{{ section.settings.ingredient_1a | img_url: 'master' }}" alt="" class="ingredient-bullet-img">
                          </div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Apricot Kernel Oil</h3>
                            <p class="ingredient-p">Rich in skin-nourishing fatty acids, vitamins, and antioxidants, this light, non-sticky, and fast-absorbing botanical oil helps the skin look youthful.</p>
                          </div>
                        </div>
                        <div id="w-node-_26a53dd1-ea07-0f74-3df9-cb5b2b6c7327-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap">
                            <img loading="lazy" src="{{ section.settings.ingredient_2a | img_url: 'master' }}" alt="" class="ingredient-bullet-img">
                          </div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Fireweed</h3>
                            <p class="ingredient-p">Harvested at high elevations in the Teton Mountain Range and contains bioflavonoids and antioxidants that can help combat environmental stressors.</p>
                          </div>
                        </div>
                        <div id="w-node-_26a53dd1-ea07-0f74-3df9-cb5b2b6c732f-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap">
                            <img loading="lazy" src="{{ section.settings.ingredient_3a | img_url: 'master' }}" alt="" class="ingredient-bullet-img">
                          </div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Dandelion</h3>
                            <p class="ingredient-p">Foraged from the wild habitats of the Mountain West, our wild dandelion soothes the skin and helps fight the signs of aging to reveal tighter, brighter, and clearer-looking skin.</p>
                          </div>
                        </div>
                        <div id="w-node-_26a53dd1-ea07-0f74-3df9-cb5b2b6c733a-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap">
                            <img loading="lazy" src="{{ section.settings.ingredient_4 | img_url: 'master' }}" alt="" class="ingredient-bullet-img">
                          </div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Astralagus Root</h3>
                            <p class="ingredient-p">This herb is widely used in the practice of traditional Chinese medicine and helps tighten and firm the appearance of the skin.</p>
                          </div>
                        </div>
                        <div id="w-node-_26a53dd1-ea07-0f74-3df9-cb5b2b6c7342-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap">
                            <img loading="lazy" src="{{ section.settings.ingredient_5 | img_url: 'master' }}" alt="" class="ingredient-bullet-img">
                          </div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Elderflower</h3>
                            <p class="ingredient-p">This flowering shrub, native to Northern America, contains antioxidants that can brighten and soften the appearance of the skin.</p>
                          </div>
                        </div>
                        <div id="w-node-_26a53dd1-ea07-0f74-3df9-cb5b2b6c734a-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap">
                            <img loading="lazy" src="{{ section.settings.ingredient_6 | img_url: 'master' }}" alt="" class="ingredient-bullet-img">
                          </div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Spilanthes</h3>
                            <p class="ingredient-p">Spilanthes enriches the skin with moisturizers, reducing the appearance of fine lines and wrinkles. Spilanthes also has natural cleansing properties that improve the appearance of pores and balance natural oils.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 2" class="w-tab-pane">
                      <div class="ingredients-bullets-wrap">
                        <h3 id="w-node-b739c615-c4f6-674c-058a-a2096c3a0ae5-7184b9e3" class="ingredient-tabs-h">Key Ingredients</h3>
                        <div id="w-node-_4aa709a4-13f1-fa46-c73b-5307cb92b30c-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_7 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Glacial Minerals</h3>
                            <p class="ingredient-p">This perennial, precious and nutritive mineral water contains 60+ skin beneficial minerals, and is collected sustainably to preserve the pristine environments.</p>
                          </div>
                        </div>
                        <div id="w-node-_4aa709a4-13f1-fa46-c73b-5307cb92b314-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_8 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Nelumbo Lotus</h3>
                            <p class="ingredient-p">Known for its resilience, Lotus is rich in antioxidants and provides soothing benefits while also helping to tighten and firm the appearance of the skin.</p>
                          </div>
                        </div>
                        <div id="w-node-_4aa709a4-13f1-fa46-c73b-5307cb92b31c-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_9 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Plant-Derived Squalane</h3>
                            <p class="ingredient-p">Our non-GMO plant-derived squalane deeply moisturizes and conditions the skin while leaving a smooth matte finish.</strong>.</p>
                          </div>
                        </div>
                        <div id="w-node-_4aa709a4-13f1-fa46-c73b-5307cb92b327-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_10 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Fireweed</h3>
                            <p class="ingredient-p">Our fireweed is harvested at high elevations in the Teton Mountain Range and contains bioflavonoids and antioxidants that can help combat environmental stressors.</p>
                          </div>
                        </div>
                        <div id="w-node-_4aa709a4-13f1-fa46-c73b-5307cb92b32f-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_11 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Probiotic Ferments</h3>
                            <p class="ingredient-p">Caldera + Lab uses a patented probiotic-based ferment that helps activate the skin’s natural protective defense mechanism, thereby soothing the skin and strengthening the skin barrier.</p>
                          </div>
                        </div>
                        <div id="w-node-_4aa709a4-13f1-fa46-c73b-5307cb92b337-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_12 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h">Frankincense</h3>
                            <p class="ingredient-p">Frankincense helps to balance natural oils found in the skin.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div data-w-tab="Tab 3" class="w-tab-pane">
                      <div class="ingredients-bullets-wrap">
                        <h3 id="w-node-_8948ac94-2cb5-6395-5b07-b14597c4cc38-7184b9e3" class="ingredient-tabs-h">Key Ingredients</h3>
                        <div id="w-node-_1ff13e0a-9ffe-bdc2-18d6-2065f1937ace-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_13 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h"><strong>Buddleja Plant Stem Cells</strong></h3>
                            <p class="ingredient-p">Undifferentiated plant meristem cells of buddleja are harvested from the buds and root tips to provide natural moisturizers and barriers to the elements.</p>
                          </div>
                        </div>
                        <div id="w-node-_1ff13e0a-9ffe-bdc2-18d6-2065f1937ad6-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_14 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h"><strong>Plant-Derived Squalane</strong></h3>
                            <p class="ingredient-p">Our non-GMO plant-derived squalane deeply moisturizes and conditions the skin while leaving a smooth matte finish.</p>
                          </div>
                        </div>
                        <div id="w-node-_1ff13e0a-9ffe-bdc2-18d6-2065f1937ade-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_15 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h"><strong>Elkhorn Sea Moss</strong></h3>
                            <p class="ingredient-p">A skin conditioning red algae species that is traditionally known for its wound healing and soothing properties. Rich in bioactive antioxidants, it works on inhibiting melanin production, soothing the skin and smoothing the look of wrinkles.</p>
                          </div>
                        </div>
                        <div id="w-node-_1ff13e0a-9ffe-bdc2-18d6-2065f1937ae9-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_16 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h"><strong>Encapsulated Microalgae</strong></h3>
                            <p class="ingredient-p">These marine nutrients help tighten and firm the appearance of the skin.</p>
                          </div>
                        </div>
                        <div id="w-node-_1ff13e0a-9ffe-bdc2-18d6-2065f1937af1-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_17 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h"><strong>Immortelle Flower</strong></h3>
                            <p class="ingredient-p">Known as the life everlasting flower, Immortelle is a botanical powerhouse of skin-beneficial antioxidants that work on brightening the look of skin tone, minimizing the appearance of dark spots, and reducing the visibility of aging</p>
                          </div>
                        </div>
                        <div id="w-node-_1ff13e0a-9ffe-bdc2-18d6-2065f1937af9-7184b9e3" class="ingredient-bullet">
                          <div class="ingredient-bullet-img-wrap"><img loading="lazy" src="{{ section.settings.ingredient_18 | img_url: 'master' }}" alt="" class="ingredient-bullet-img"></div>
                          <div class="ingredient-bullet-txt-wrap">
                            <h3 class="ingredient-h"><strong>Tara Tree Complex</strong></h3>
                            <p class="ingredient-p">Clinically proven to IR and particulate pollution. The botanical concentrate of Tara plant and fruit pod extracts along with plant-derived biopolymers and biosaccharides work to fight the effects of radiation due to IR and urban pollution.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="certified-quality">
                <h2>Inspected, Confirmed &amp; Certified Quality</h2>
                <div id="w-node-ede11cec-71be-f6d4-2ec8-5922c8056753-7184b9e3" class="certified-img-wrap">
                  <img src="{{ section.settings.certified-img | img_url:'master' }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 67vw, 65vw" srcset="{{ section.settings.certified-img | img_url:'master' }} 500w, {{ section.settings.certified-img | img_url:'master' }} 800w, {{ section.settings.certified-img | img_url:'master' }} 1080w, {{ section.settings.certified-img | img_url:'master' }} 1153w" alt="Image placeholder" class="certified-img">
                  <div class="organic-icons-wrap">
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_1 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Gluten</div>
                    </div>
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_2 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Parabens</div>
                    </div>
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_3 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Aluminum</div>
                    </div>
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_4 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Animal Ingredients</div>
                    </div>
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_5 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Toxic Chemicals</div>
                    </div>
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_6 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Synthetic Preservatives</div>
                    </div>
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_7 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Silicones</div>
                    </div>
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_8 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Formaldehyde</div>
                    </div>
                    <div class="organic-ic-wrap"><img src="{{ section.settings.logo_9 | img_url:'master' }}" loading="lazy" alt="" class="organic-ic">
                      <div class="organic-ic-desc">No Phthalates</div>
                    </div>
                  </div>
                </div>
                <p class="paragraph-normal"><span class="green-span">The Regimen</span> reflects <span class="green-span">Caldera + Lab&#x27;s</span> commitment to <span class="bold-span">Transparency, Sustainability and Excellence</span>. The brand has received the world&#x27;s most valuable certifications from leading regulatory bodies.</p>
                <div class="quallity-badges-wrap">
                  <div class="quality-badge">
                    <div class="badge-bullet-img-wrap"><img src="{{ section.settings.quality-badge-img-1 | img_url:'master' }}" loading="lazy" alt="" class="quality-badge-img"></div>
                    <div class="process-bullet-txt-wrap">
                      <h3 class="quality-badge-h">Made Safe</h3>
                      <p class="quality-badge-p">America’s first non-toxic certification association confirms only non-toxic ingredients were used to produce The Regimen.</p>
                    </div>
                  </div>
                  <div class="quality-badge">
                    <div class="badge-bullet-img-wrap"><img src="{{ section.settings.quality-badge-img-2 | img_url:'master' }}" loading="lazy" alt="" class="quality-badge-img"></div>
                    <div class="process-bullet-txt-wrap">
                      <h3 class="quality-badge-h">ECOCERT Cosmos Natural</h3>
                      <p class="quality-badge-p">Caldera + Lab's The Good Multifunctional Serum was certified COSMOS NATURAL after a full audit of ingredients, suppliers, their proprietary formulation, production process, and packaging.</p>
                    </div>
                  </div>
                  <div class="quality-badge">
                    <div class="badge-bullet-img-wrap"><img src="{{ section.settings.quality-badge-img-3 | img_url:'master' }}" loading="lazy" alt="" class="quality-badge-img"></div>
                    <div class="process-bullet-txt-wrap">
                      <h3 class="quality-badge-h">Leaping Bunny</h3>
                      <p class="quality-badge-p">The certification confirms that Caldera + Lab isn’t just vegan and cruelty-free but have also implemented a supplier monitoring system to ensure they&#x27;re never connected to animal testing. Ever.</p>
                    </div>
                  </div>
                </div>
                <div class="cta-banner" style="background-image: url({{ section.settings.banner_img | img_url:'master' }}),linear-gradient(180deg,rgba(22,21,21,.6),rgba(22,21,21,.6)),url({{ section.settings.mountains | img_url:'master' }});">
                  <div class="banner-info-wrap">
                    <h3 class="banner-heading">SAVE 30% with this Limited-Time<span> HOLIDAY OFFER</span></h3>
                    <div class="banner-cta-wrap">
                      <div class="rating-wrap">
                        <div class="stars-grid">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                          <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                        </div>
                        <div class="rating-txt">1,130+ Reviews</div>
                      </div>
                      <a href="https://calderalab.com/products/the-regimen" class="cta w-inline-block">
                        <div class="cta-txt">SHOP NOW</div>
                        <div class="cta-icon-wrap"></div>
                      </a>
                      <div class="banner-guarantee-txt">60 Day Money Back Guarantee</div>
                    </div>
                  </div>
                  <div class="banner-bf-wrap"><img src="{{ section.settings.offer_badge | img_url:'master' }}" loading="lazy" alt="" class="banner-bf"></div>
                </div>
              </div>
              <div class="where-can-you-buy">
                <h2>Where Can You Buy The Regimen?</h2>
                <div class="where-buy-img-wrap"><img src="{{ section.settings.where-can-you-buy | img_url:'master' }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 67vw, 65vw" srcset="{{ section.settings.where-can-you-buy | img_url:'master' }} 1080w, {{ section.settings.where-can-you-buy | img_url:'master' }} 1600w, {{ section.settings.where-can-you-buy | img_url:'master' }} 1708w" alt="Image placeholder" class="where-buy-img"></div>
                <p class="paragraph-normal"><span class="green-span">Caldera + Lab Regimen</span> has been a massive hit in the world of men&#x27;s skincare. <span class="bold-span">Their products have already received over 1,000 positive reviews from customers around the world.</span></p>
                <p class="paragraph-normal">Men praise <span class="green-span">The Regimen</span> for helping them feel just a bit younger within just a few short weeks, boosting their self-confidence and making their skincare routine the easiest, simplest, most refreshing it's ever been.</p>
                <p class="paragraph-normal"><span class="bold-span">If you&#x27;re looking for an effective &amp; clinically proven combination of nature&#x27;s wild ingredients and cutting-edge manufacturing process that&#x27;s also surprisingly easy-to-follow, </span><span class="green-span">The Regimen</span><span class="bold-span"> is the perfect choice.</span></p>
              </div>
              <div class="worth-the-price">
                <h2>Is it worth its price?</h2>
                <p class="paragraph-normal">As they say in skincare: &quot;you get what you pay for&quot;, and men&#x27;s success stories with <span class="green-span">Caldera + Lab's Regimen</span> prove that true. From the very first day of using it, we hope you'll feel the difference.</p>
                <div class="worth-the-price-img-wrap">
                  <img src="{{ section.settings.worth_the_price_img | img_url: 'master' }}" loading="lazy" class="worth-the-price-img">
                </div>
                <p class="paragraph-normal bold green-text">The Regimen is only available online.</p>
                <p class="paragraph-normal bold">Due to the high demand and scarcity of ingredients, <span class="green-span">Caldera + Lab Team</span> cannot guarantee stock will be available beyond today.</p>
                <p class="paragraph-normal">Men wishing to upgrade their skincare before the Holiday Season are urged to <span class="bold-span">order as soon as possible.</span></p>
                <p class="paragraph-normal"><span class="green-span">Caldera + Lab</span> products are crafted using only the finest ingredients, so once the current stock runs out, it can be months before <span class="green-span">The Regimen</span> is available again (likely to happen before the end of the year due to ingredient shortages).</p>
                <p class="paragraph-normal">In light of that, <span class="bold-span">thousands of men have already subscribed to secure their regular deliveries of </span><span class="green-span">The Regimen</span><span class="bold-span">.</span></p>
                <p class="paragraph-normal">The best news?<br><span class="green-span">Caldera + Lab Team</span><span class="bold-span"> is now providing a Limited Time Offer, which can save you 30% on your order!</span></p>
              </div>
            </div>
            <div class="final-cta">
              <div class="final-cta-top-wrap">
                <img src="{{ section.settings.bottomcta_mountains | img_url: 'master' }}" loading="lazy" width="248" alt="" class="final-cta-poster">
                <img src="{{ section.settings.final_cta_banner_mobile | img_url: 'master' }}" loading="lazy" width="248" alt="" class="final-cta-poster mobile">
                <h3 class="banner-heading finalcta">SAVE 30% with this Limited-Time<span> HOLIDAY OFFER</span></h3>
              </div>
              <div class="final-cta-bottom-wrap">
                <div class="banner-cta-wrap final-cta">
                  <div class="rating-wrap">
                    <div class="stars-grid">
                      <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                      <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                      <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                      <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                      <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                    </div>
                    <div class="rating-txt">1,130+ Reviews</div>
                  </div>
                  <a href="https://calderalab.com/products/the-regimen" class="cta w-inline-block">
                    <div class="cta-txt">SHOP NOW</div>
                    <div class="cta-icon-wrap"></div>
                  </a>
                  <div class="banner-guarantee-txt">60 Day Money Back Guarantee</div>
                </div>
                <div class="seen-in-wrap bottomcta">
                  <div class="logo-wrap"><img src="{{ section.settings.brand_1 | img_url:'master' }}" loading="lazy" alt="Company logo" class="brand-logo"></div>
                  <div class="logo-wrap"><img src="{{ section.settings.brand_2 | img_url:'master' }}" loading="lazy" alt="Company logo" class="brand-logo"></div>
                  <div class="logo-wrap"><img src="{{ section.settings.brand_3 | img_url:'master' }}" loading="lazy" alt="Company logo" class="brand-logo"></div>
                  <div class="logo-wrap"><img src="{{ section.settings.brand_4 | img_url:'master' }}" loading="lazy" alt="Company logo" class="brand-logo"></div>
                  <div class="seen-in-label">
                    <div class="seen-in-label-txt">featured in</div>
                  </div>
                </div>
              </div>
            </div>
            <div block="Reviews" class="reviews">
              <h2 class="reviews-h">What Caldera + Lab<br>Customers Are Saying</h2>
              <div class="review-wrap">
                <div class="review-top"><img src="{{ section.settings.patrick | img_url:'master' }}" loading="lazy" option:image="Review 1 Image" alt="" class="review-avatar">
                  <div class="review-top-details"><img src="{{ section.settings.rating | img_url:'master' }}" loading="lazy" alt="" class="review-rating">
                    <h3 option:text="Review 1 Headline" class="review-h">I’m 67 years old and <br></h3>
                  </div>
                </div>
                <div class="review-bottom">
                  <div class="reivew-bottom-details">
                    <p option:text="Review 1 Quote" class="review-p">I’m 67 years old and have been using the clean slate , the good , and the base and my skin has never been better.<br></p>
                    <div class="review-author-details-wrap">
                      <p class="testimonial-p author review">patrick a.</p>
                      <div class="review-vb">
                        <div class="review-vb-icon"><img src="{{ section.settings.verified | img_url:'master' }}" loading="lazy" alt="" class="verified-ic"></div>
                        <div class="review-vb-text">
                          <div class="review-verified-txt">Verified Customer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="review-meters">
                    <div class="review-meter">
                      <div class="quality-txt">Quality of Product</div>
                      <div class="review-meter-wrap">
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage last"></div>
                      </div>
                    </div>
                    <div class="review-meter">
                      <div class="prod-value-txt">Value of Product</div>
                      <div class="review-meter-wrap">
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage last"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="review-wrap">
                <div class="review-top"><img src="{{ section.settings.kevin | img_url:'master' }}" loading="lazy" option:image="Review 1 Image" alt="" class="review-avatar">
                  <div class="review-top-details"><img src="{{ section.settings.rating | img_url:'master' }}" loading="lazy" alt="" class="review-rating">
                    <h3 option:text="Review 1 Headline" class="review-h">Thanks</h3>
                  </div>
                </div>
                <div class="review-bottom">
                  <div class="reivew-bottom-details">
                    <p option:text="Review 1 Quote" class="review-p">This stuff is great! For a 58 year old guy, that’s trying to keep it together… this will stay part of my routine! Thanks for the outstanding product! <br></p>
                    <div class="review-author-details-wrap">
                      <p class="testimonial-p author review">kevin w.</p>
                      <div class="review-vb">
                        <div class="review-vb-icon"><img src="{{ section.settings.verified | img_url:'master' }}" loading="lazy" alt="" class="verified-ic"></div>
                        <div class="review-vb-text">
                          <div class="review-verified-txt">Verified Customer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="review-meters">
                    <div class="review-meter">
                      <div class="quality-txt">Quality of Product</div>
                      <div class="review-meter-wrap">
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage last"></div>
                      </div>
                    </div>
                    <div class="review-meter">
                      <div class="prod-value-txt">Value of Product</div>
                      <div class="review-meter-wrap">
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage last"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="review-wrap last">
                <div class="review-top"><img src="{{ section.settings.toby | img_url:'master' }}" loading="lazy" option:image="Review 1 Image" alt="" class="review-avatar">
                  <div class="review-top-details"><img src="{{ section.settings.rating | img_url:'master' }}" loading="lazy" alt="" class="review-rating">
                    <h3 option:text="Review 1 Headline" class="review-h">What a fantastic way to <br></h3>
                  </div>
                </div>
                <div class="review-bottom">
                  <div class="reivew-bottom-details">
                    <p option:text="Review 1 Quote" class="review-p">What a fantastic way to know you can clean your face only using natural ingredients. Skin is feeling the love! <br></p>
                    <div class="review-author-details-wrap">
                      <p class="testimonial-p author review">toby o.</p>
                      <div class="review-vb">
                        <div class="review-vb-icon"><img src="{{ section.settings.verified | img_url:'master' }}" loading="lazy" alt="" class="verified-ic"></div>
                        <div class="review-vb-text">
                          <div class="review-verified-txt">Verified Customer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="review-meters">
                    <div class="review-meter">
                      <div class="quality-txt">Quality of Product</div>
                      <div class="review-meter-wrap">
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage last"></div>
                      </div>
                    </div>
                    <div class="review-meter">
                      <div class="prod-value-txt">Value of Product</div>
                      <div class="review-meter-wrap">
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage"></div>
                        <div class="review-meter-stage last"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer"><img src="{{ section.settings.logo | img_url: 'master' }}" loading="lazy" alt="" class="footer-logo"></div>
          </div>
          <div class="sidebar">
            <div class="siderbar-wrap">
              <div class="sidebar-top">
                <div class="sidebar-offer-label">
                  <div class="offer-label-txt">LIMITED TIME</div>
                </div>
                <div class="sidebar-poster-wrap">
                  <img src="{{ section.settings.sidebar_img | img_url: 'master' }}" loading="lazy" alt="" class="sidebar-img">
                  <img src="{{ section.settings.offer_badge | img_url: 'master' }}" loading="lazy" alt="" class="sidebar-bf">
                </div>
              </div>
              <div class="sidebar-bottom">
                <h2 class="sidebar-h">Get 30% Off <br>on Your First Order!</h2>
                <div class="rating-wrap">
                  <div class="stars-grid">
                    <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                    <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                    <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                    <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                    <img src="{{ section.settings.star_brown | img_url:'master' }}" loading="lazy" alt="" class="rating-star">
                  </div>
                  <div class="rating-txt">1,130+ Reviews</div>
                </div>
                <a href="https://calderalab.com/products/the-regimen" class="sidebar-cta w-inline-block">
                  <div class="cta-txt">SHOP NOW</div>
                </a>
                <div class="sidebar-guarantee-txt">60 Day Money Back Guarantee</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-bg">
      <img src="{{ section.settings.body_bg | img_url: 'master' }}" 
           loading="lazy" 
           sizes="100vw" 
           alt="" class="bg-mountains-img">
    </div>
  </div>
  <a href="#topbar" class="page-scroll-button w-inline-block"><img src="{{ 'scroll-btn-arrow.svg' | asset_url }}" loading="eager" alt="Arrow pointing up" class="page-scroll-button-ic"></a>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=619e7b4bedfbf266ae84b9e1" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.shopify.com/s/files/1/0079/7193/0170/files/webflow.js?v=1637860043" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->


{% schema %}
  {
    "name": "Meet Caldera",
    "settings": [
		{
          "type":"image_picker",
          "id":"logo",
          "label":"Logo"
      	},
		{
          "type":"image_picker",
          "id":"body_bg",
          "label":"Background Image"
      	},
		{
          "type":"image_picker",
          "id":"brand_1",
          "label":"Brand 1"
      	},
		{
          "type":"image_picker",
          "id":"brand_2",
          "label":"Brand 2"
      	},
		{
          "type":"image_picker",
          "id":"brand_3",
          "label":"Brand 3"
      	},
		{
          "type":"image_picker",
          "id":"brand_4",
          "label":"Brand 4"
      	},
		{
          "type":"image_picker",
          "id":"post_header",
          "label":"Post header background"
      	},
		{
          "type":"image_picker",
          "id":"sidebar_img",
          "label":"Sidebar image"
      	},
		{
          "type":"image_picker",
          "id":"offer_badge",
          "label":"Offer badge"
      	},
		{
          "type":"image_picker",
          "id":"who-deserve-the-best",
          "label":"Who Deserve The Best Image"
      	},
		{
          "type":"image_picker",
          "id":"testimonial_1",
          "label":"Testimonial Image"
      	},
		{
          "type":"image_picker",
          "id":"rating_1",
          "label":"Rating Image"
      	},
		
		{
          "type":"image_picker",
          "id":"testimonial_2",
          "label":"Testimonial Image"
      	},
		{
          "type":"image_picker",
          "id":"rating_2",
          "label":"Rating Image"
      	},
		{
          "type":"image_picker",
          "id":"testimonial_3",
          "label":"Testimonial Image"
      	},
		{
          "type":"image_picker",
          "id":"rating_3",
          "label":"Rating Image"
      	},
		{
          "type":"textarea",
          "id":"verified_image",
          "label":"Verified Image"
      	},
		{
          "type":"image_picker",
          "id":"good_serum",
          "label":"Good Serum Image"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_1",
          "label":"Ingredient 1"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_2",
          "label":"Ingredient 2"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_3",
          "label":"Ingredient 3"
      	},
		{
          "type":"image_picker",
          "id":"cleanser",
          "label":"Cleanser Image"
      	},
		{
          "type":"image_picker",
          "id":"cleanser_ingredients_1",
          "label":"Cleanser Ingredient 1"
      	},
		{
          "type":"image_picker",
          "id":"cleanser_ingredients_2",
          "label":"Cleanser Ingredient 2"
      	},
		{
          "type":"image_picker",
          "id":"cleanser_ingredients_3",
          "label":"Cleanser Ingredient 3"
      	},
		{
          "type":"image_picker",
          "id":"moisturizer",
          "label":"Moisturizer Image"
      	},
		{
          "type":"image_picker",
          "id":"moisturizer_ingredient_1",
          "label":"Moisturizer Ingredient 1"
      	},
		{
          "type":"image_picker",
          "id":"moisturizer_ingredient_2",
          "label":"Moisturizer Ingredient 2"
      	},
		{
          "type":"image_picker",
          "id":"moisturizer_ingredient_3",
          "label":"Moisturizer Ingredient 3"
      	},
		{
          "type":"image_picker",
          "id":"morning",
          "label":"Morning Image"
      	},
		{
          "type":"image_picker",
          "id":"evening",
          "label":"Evening Image"
      	},
		{
          "type":"image_picker",
          "id":"million-banner-mobile",
          "label":"Million Banner Mobile Image"
      	},
		{
          "type":"image_picker",
          "id":"result_banner",
          "label":"Result Banner Image"
      	},
		{
          "type":"image_picker",
          "id":"before_1",
          "label":"Before Image"
      	},
		{
          "type":"image_picker",
          "id":"after_1",
          "label":"After Image"
      	},
		{
          "type":"image_picker",
          "id":"before_2",
          "label":"Before Image"
      	},
		{
          "type":"image_picker",
          "id":"after_2",
          "label":"After Image"
      	},
		{
          "type":"image_picker",
          "id":"before_3",
          "label":"Before Image"
      	},
		{
          "type":"image_picker",
          "id":"after_3",
          "label":"After Image"
      	},
		{
          "type":"image_picker",
          "id":"manufacturing_1",
          "label":"Manufacturing Image"
      	},
		{
          "type":"image_picker",
          "id":"manufacturing_2",
          "label":"Manufacturing Image"
      	},
		{
          "type":"image_picker",
          "id":"manufacturing_3",
          "label":"Manufacturing Image"
      	},
		{
          "type":"image_picker",
          "id":"manufacturing_4",
          "label":"Manufacturing Image"
      	},
		{
          "type":"image_picker",
          "id":"manufacturing_5",
          "label":"Manufacturing Image"
      	},
		{
          "type": "header",
          "content": "Certified Quality Logo"
        },
		{
          "type":"image_picker",
          "id":"certified-img",
          "label":"Certified Image"
      	},
		{
          "type":"image_picker",
          "id":"logo_1",
          "label":"Logo 1"
      	},
		{
          "type":"image_picker",
          "id":"logo_2",
          "label":"Logo 2"
      	},
		{
          "type":"image_picker",
          "id":"logo_3",
          "label":"Logo 3"
      	},
		{
          "type":"image_picker",
          "id":"logo_4",
          "label":"Logo 4"
      	},
		{
          "type":"image_picker",
          "id":"logo_5",
          "label":"Logo 5"
      	},
		{
          "type":"image_picker",
          "id":"logo_6",
          "label":"Logo 6"
      	},
		{
          "type":"image_picker",
          "id":"logo_7",
          "label":"Logo 7"
      	},
		{
          "type":"image_picker",
          "id":"logo_8",
          "label":"Logo 8"
      	},
		{
          "type":"image_picker",
          "id":"logo_9",
          "label":"Logo 9"
      	},
		{
          "type":"image_picker",
          "id":"quality-badge-img-1",
          "label":"Quality Badge Image"
      	},
		{
          "type":"image_picker",
          "id":"quality-badge-img-2",
          "label":"Quality Badge Image"
      	},
		{
          "type":"image_picker",
          "id":"quality-badge-img-3",
          "label":"Quality Badge Image"
      	},
		{
          "type":"image_picker",
          "id":"where-can-you-buy",
          "label":"Where Can You Buy Image"
      	},
		{
          "type":"image_picker",
          "id":"check_mark",
          "label":"Check-mark icon"
      	},
		{
          "type":"image_picker",
          "id":"facebook",
          "label":"Facebook icon"
      	},
		{
          "type":"image_picker",
          "id":"twitter",
          "label":"Twitter icon"
      	},
		{
          "type":"image_picker",
          "id":"linkedin",
          "label":"Linkedin icon"
      	},
		{
          "type":"image_picker",
          "id":"email",
          "label":"Email icon"
      	},
		{
          "type":"image_picker",
          "id":"step_1",
          "label":"Step 1 icon"
      	},
		{
          "type":"image_picker",
          "id":"step_2",
          "label":"Step 2 icon"
      	},
		{
          "type":"image_picker",
          "id":"star_brown",
          "label":"Star"
      	},
		{
          "type":"image_picker",
          "id":"banner_img",
          "label":"Banner image"
      	},
		{
          "type":"image_picker",
          "id":"mountains",
          "label":"Mountains"
      	},
		{
          "type":"image_picker",
          "id":"worth_the_price_img",
          "label":"worth the price img"
      	},
		{
          "type":"image_picker",
          "id":"bottomcta_mountains",
          "label":"bottom cta mountains"
      	},
		{
          "type":"image_picker",
          "id":"final_cta_banner_mobile",
          "label":"final cta banner mobile"
      	},
		{
          "type":"image_picker",
          "id":"patrick",
          "label":"Patrick"
      	},
		{
          "type":"image_picker",
          "id":"kevin",
          "label":"Kevin"
      	},
		{
          "type":"image_picker",
          "id":"toby",
          "label":"Toby"
      	},
		{
          "type":"image_picker",
          "id":"rating",
          "label":"rating"
      	},
		{
          "type":"image_picker",
          "id":"verified",
          "label":"verified"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_1a",
          "label":"ingredient 1"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_2a",
          "label":"ingredient 2"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_3a",
          "label":"ingredient 3"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_4",
          "label":"ingredient 4"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_5",
          "label":"ingredient 5"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_6",
          "label":"ingredient 6"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_7",
          "label":"ingredient 7"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_8",
          "label":"ingredient 8"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_9",
          "label":"ingredient 9"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_10",
          "label":"ingredient 10"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_11",
          "label":"ingredient 11"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_12",
          "label":"ingredient 12"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_13",
          "label":"ingredient 13"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_14",
          "label":"ingredient 14"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_15",
          "label":"ingredient 15"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_16",
          "label":"ingredient 16"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_17",
          "label":"ingredient 17"
      	},
		{
          "type":"image_picker",
          "id":"ingredient_18",
          "label":"ingredient 18"
      	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
