<div class="c-pdpInd">
    <div class="wrapper">
        <div class="c-pdpInd__row">
            <div class="c-pdpInd__col c-pdpInd__content">
                <div class="c-pdpInd__box">
                    <h4 class="c-pdpInd__heading">{{ section.settings.title }}</h4>
                    <h6 class="c-pdpInd__subHeading">{{ section.settings.subheading }}</h6>
                    <div class="c-pdpInd__copy c-pdpInd__copy--desktop">{{ section.settings.copy }}</div>    
                </div>
            </div>
            <div class="c-pdpInd__col c-pdpInd__list">
                {% for block in section.blocks %}
                    <div class="c-pdpInd__item">
                        <img src="{{ block.settings.image | img_url: "2x" }}" data-src="{{ block.settings.image | img_url: "master" }}" class="lazyload c-pdpInd__image" alt="{{ block.settings.name }}" />
                        <p class="c-pdpInd__name">{{ block.settings.name }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="c-pdpInd__copy c-pdpInd__copy--mobile">{{ section.settings.copy }}</div>
        </div>
    </div>
    <a href="#" class="c-pdpInd__readmore">
        <svg width="28px" height="16px" viewBox="0 0 28 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
            <title>Path</title>
            <desc>Created with Sketch.</desc>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="MOBILE-NEW-CALDERA" transform="translate(-174.000000, -1798.000000)" fill="#FFFFFF">
                    <path d="M198,1792.5 L198,1808.75 C198,1809.44083 197.44,1810 196.75,1810 C196.06,1810 195.5,1809.44083 195.5,1808.75 L195.5,1792.5 L179.25,1792.5 C178.56,1792.5 178,1791.94083 178,1791.25 C178,1790.56 178.56,1790 179.25,1790 L196.736667,1790 C197.071667,1790 197.393333,1790.13333 197.63,1790.37 C197.866667,1790.6075 198,1790.92833 198,1791.26333 L198,1792.5 Z" id="Path" transform="translate(188.000000, 1800.000000) scale(-1, 1) rotate(135.000000) translate(-188.000000, -1800.000000) "></path>
                </g>
            </g>
        </svg>
    </a>
</div>
<!--c-pdpInd-->

{% schema %}
  {
    "name": "PDP Ingredients",
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Beyond Organic"
      },
      {
        "type":"text",
        "id":"subheading",
        "label":"Sub Heading",
        "default":"Exceptional Skin Requires Exceptional Ingredients."
      },
      {
        "type":"html",
        "id":"copy",
        "label":"Copy",
        "default":"The Good is a 100% plant-based and non-GMO skincare product that’s the result of meticulous craftsmanship. We teamed up with world-renowned scientists to create a completely non-toxic product that’s proven to give you your best skin ever. Each drop contains 27 active botanicals wild harvested from the Teton Mountain Range. Based on extensive research and clinical trials, we set out to surpass conventional methods and ingredients to create a product specifically tailored to the skin of discerning men."
      }
    ],
    "blocks": [
      {
        "type": "contentcolumn",
        "name": "Ingredients",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "name",
                "label": "Ingredients Name"
            }
        ]
      }
    ]
  }
{% endschema %}