<div class="QuickBuy QuickBuy-v2">
  <h2 class="QuickBuy_heading">{{section.settings.heading}}</h2>
    <div class="swiper QuickBuy_swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for block in section.blocks %}

        <div class="swiper-slide QuickBuy_swiper-slide">
          <a href="/products/{{ block.settings.product }}" target="_blank">
            <div class="QuickBuy_swiper-slide-wrapper">
              <div class="QuickBuy_swiper-slide-subwrapper">
                <img class="QuickBuy_img lozad" data-src="{{block.settings.product_image | img_url: '290x290', crop:'center' }}">
                <img class="QuickBuy_img-hover lozad" data-src="{{block.settings.product_image_hover | img_url: '290x290', crop:'center' }}">
                <div class="QuickBuy_swiper-reviews">
                  <div class="c-productInfo__review QuickBuy-reviews">
                    {%- if product.handle == block.settings.product -%}
                      <a href="#productReview">
                          <span class="yotpo-overlay"></span>
                          <div class="yotpo bottomLine" data-product-id="{{ block.settings.product.id }}"></div>
                      </a>
                    {%- else -%}
                      <a href="/products/{{ block.settings.product }}#productReview">
                            <span class="yotpo-overlay"></span>
                            <div class="yotpo bottomLine" data-product-id="{{ block.settings.product.id }}"></div>
                        </a>
                    {%- endif -%}
                  </div>
                </div>
              </div>
              <a href="/products/{{ block.settings.product }}" target="_blank">
                <h3 class="QuickBuy_swiper-title">{% if block.settings.product_title != blank %}{{block.settings.product_title}}{% else %}{{block.settings.product.title}}{% endif %}</h3>
                <h4 class="QuickBuy_swiper-subtitle">{% if block.settings.product_subtitle != blank %}{{ block.settings.product_subtitle }}{% else %}{{block.settings.product.title}}{% endif %}</h4>
              </a>
              {% include 'QuickBuy-cartForm-v2', product: block.settings.product %}
            </div>
          </a>
        </div>
  
        {%endfor%}
      </div>
      <div class="swiper-pagination"></div>

    </div>
  
  </div>
  
<script>
  {% assign blocks_size = section.blocks.size %}
  const swiperQuickBuy = new Swiper('#shopify-section-{{ section.id }} .QuickBuy_swiper', {
    slidesPerView: {{ blocks_size }},
    spaceBetween: 20,
    pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable:true
        },
    breakpoints: {
      300: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 20,

      },
      1200: {
        slidesPerView: {{ blocks_size }},
        centeredSlides: false,
      },
    },
  });
  (function(){
    let a = document.querySelectorAll(".QuickBuy__cf-time-selected");
    let b = document.querySelectorAll(".QuickBuy__cf-times");
    let c = document.querySelectorAll(".QuickBuy__cf-time-drop");
    let d = document.querySelectorAll(".QuickBuy__cf-time");
    let f = document.querySelectorAll(".QuickBuy__cf-membership-select");
    var x = window.matchMedia("(max-width: 800px)")
    let cart = document.querySelectorAll("#CartCount");
    let currCart;
    let h = document.querySelectorAll(".QuickBuy__cf-time-selector");
    let g = document.querySelectorAll(".QuickBuy__cf-single-select");
    let atc = document.querySelectorAll(".QuickBuy__cf-atc");
    for(let e = 0;e<b.length;e++){
      g[e].classList.add("selected");
      f[e].addEventListener("click",()=>{
        if(g[e].classList.contains("selected")){
          g[e].classList.remove("selected");
          f[e].classList.add("selected");
          if (x.matches) {
            h[e].style.display = "flex";
          }else{
            h[e].style.display = "block";
          }

        }else {
          f[e].classList.add("selected");
          if (x.matches) {
            h[e].style.display = "flex";
          }else{
            h[e].style.display = "block";
          }
        }
      })
      g[e].addEventListener("click",()=>{
        if(f[e].classList.contains("selected")){
          f[e].classList.remove("selected");
          g[e].classList.add("selected");
          h[e].style.display = "none";
        }else {
          g[e].classList.add("selected");
          h[e].style.display = "none";
        }
      })
      a[e].addEventListener("click",()=>{
      if(a[e].classList.contains("visited")){
        a[e].classList.remove("visited");
        b[e].classList.remove("open");
      }else{
        a[e].classList.add("visited");
        b[e].classList.add("open");
      }
    })
    atc[e].addEventListener("click",()=>{
      if(cart[0].classList.contains("u-hidden")){
        cart[0].classList.remove("u-hidden")
        currCart=  parseInt(cart.textContent);
        ++currCart
        cart.innerHTML = currCart;
      }else{
        currCart=  parseInt(cart.textContent);
        ++currCart
        cart.innerHTML = currCart;
      }
      if(cart[1].classList.contains("u-hidden")){
        cart[1].classList.remove("u-hidden")
        currCart=  parseInt(cart.textContent);
        ++currCart
        cart.innerHTML = currCart;
      }else{
        currCart=  parseInt(cart.textContent);
        ++currCart
        cart.innerHTML = currCart;
      }

        if(g[e].classList.contains("selected")){
        CartJS.addItem(c[e].dataset.id, 1, {

            });
      }else if(f[e].classList.contains("selected")){
        CartJS.addItem(c[e].dataset.id, 1, {
                "Discount Amount": c[e].dataset.discount,
                "Interval Frequency": c[e].dataset.frequency,
                "Interval Unit": c[e].dataset.unit,
                "Subscription":  c[e].textContent + ' days' ,
                "Subscription Amount": c[e].dataset.price,
                "Subscription Product Title": c[e].dataset.title
            });
      }




    })
    }
    for(let i = 0;i<12;i++){
      d[i].addEventListener("click",()=>{

      if(i<3){
        c[0].innerHTML =  d[i].dataset.option
         a[0].classList.remove("visited");
        b[0].classList.remove("open");
      }else if(i<6){
        c[1].innerHTML =  d[i].dataset.option
        a[1].classList.remove("visited");
        b[1].classList.remove("open");
      } else if(i<9){
        c[2].innerHTML =  d[i].dataset.option
        a[2].classList.remove("visited");
        b[2].classList.remove("open");
      } else{
        c[3].innerHTML =  d[i].dataset.option
      }  a[3].classList.remove("visited");
        b[3].classList.remove("open");
      })
    }

  })();

</script>


<style>
.QuickBuy-v2{
  background: #fff !important;
}
.QuickBuy-v2 .QuickBuy_heading{
    margin: 0 auto;
    margin-bottom: 23px;
    max-width: 1265px;
    padding: 0 20px;
    text-align: left;
}
.QuickBuy-v2 .QuickBuy-reviews {
    position: absolute;
    top: 8px;
    left: 14px;
}
.QuickBuy-v2 .QuickBuy__cf-single-select{
  margin-top: 12px;
}
.QuickBuy-v2 .QuickBuy-reviews .yotpo-bottomline.pull-left.star-clickable{
    align-items: start;
}
.QuickBuy-v2 .QuickBuy_swiper{
    overflow: visible!important;
}
.QuickBuy-v2 .QuickBuy_swiper-title{
  font-size: 23px;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 19px;
}
.QuickBuy-v2 .QuickBuy_swiper-subtitle{
  margin-bottom: 18px;
}
.QuickBuy-v2 .swiper-slide.QuickBuy_swiper-slide {
    overflow: hidden;
    width: 290px !important;
}
.QuickBuy-v2 .swiper-pagination.swiper-pagination-horizontal{
  bottom: -50px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .QuickBuy-v2 .swiper-pagination.swiper-pagination-horizontal{
    bottom: -30px;
  }
}
.QuickBuy-v2 .swiper-pagination .swiper-pagination-bullet{
  background: #AF5D00;
  opacity: 1;
}
.QuickBuy-v2 .swiper-pagination .swiper-pagination-bullet-active{
  opacity: .5;
}
.QuickBuy-v2 .c-productInfo__review .yotpo div.yotpo-bottomline .text-m{
  pointer-events: none;
}
@media only screen and (max-width: 600px) {
    .QuickBuy.QuickBuy-v2 {
        padding: 60px 0;
    }
}
</style>


{% schema %}
  {
    "name": "Quick Buy V2",
    "tag": "section",
    "class": "quick-buy-section",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default":"More Products to Consider"
      }
    ],
    "blocks": [
      {
        "name": "Product",
        "type": "product",
        "settings": [
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "product_image_hover",
            "label": "Hover Image"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "product_title",
            "label": "Product Title"
          },
          {
            "type": "text",
            "id": "product_subtitle",
            "label": "Product SubTitle"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Quick Buy V2",
        "category": "Caldera"
      }
  ]
  }
{% endschema %}