<div class="c-scienceIng">
    <div class="wrapper">
        <div class="c-scienceIng__row">
            <div class="c-scienceIng__subHead"> {{ section.settings.subheading }}</div>
            <div class="c-scienceIng__image">
                <img data-src="{{ section.settings.image-mobile | img_url: 'master' }}" alt="{{ section.settings.heading }}" class="lazyload c-scienceIng__imageMobile" />
                <img data-src="{{ section.settings.image-desktop | img_url: 'master' }}" alt="{{ section.settings.heading }}" class="lazyload c-scienceIng__imageDesktop" />
            </div>
            <div class="c-scienceIng__content">
                <div class="c-scienceIng__box">
                    <h4 class="c-scienceIng__heading">
                        {{ section.settings.heading }}
                    </h4>
                    <div class="c-scienceIng__copy">
                        {{ section.settings.copy }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Science Ingredients",
    "settings": [
      {
        "type":"image_picker",
        "id":"image-desktop",
        "label":"Image Desktop"
      },
      {
        "type":"image_picker",
        "id":"image-mobile",
        "label":"Image Mobile"
      },
      {
        "type":"text",
        "id":"subheading",
        "label":"Sub Heading",
        "default": "LOREM IPSUM"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Heading",
        "default": "Unrivaled Ingredients"
      },
      {
        "type":"html",
        "id":"copy",
        "label":"Copy",
        "default": "Our chemists and green formulators begin by assessing 2000+ botanicals. An ingredient shortlist is developed based on antioxidant and nutrient profiles, and bioavailability. We select botanicals that are clinically-proven, 100% fair trade, wild-harvested or organic, and sourced from the most potent variety - no matter where on the planet that is. "
      }
    ]
  }
{% endschema %}