<div class="c-storyFullList">
    <div class="wrapper">
        <h3 class="c-storyFullList__title">
        {{ section.settings.title }}       
        </h3>
        <div class="c-storyFullList__list">
            {% for block in section.blocks %}
                <div class="c-storyFullList__item">
                    <h6 class="c-storyFullList__heading">{{ block.settings.heading }}</h6>
                    <div class="c-storyFullList__content">
                        <ul class="c-storyFullList__col">
                            {{ block.settings.left-content }}
                        </ul>
                        <ul class="c-storyFullList__col">
                            {{ block.settings.right-content }}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="c-storyFullList__bottomCopy">
            {{ section.settings.bottom-content }}     
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Ingredients Full List",
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"The Full List"
      },
      {
        "type":"html",
        "id":"bottom-content",
        "label":"bottom Content"
      }
    ],
    "blocks": [
      {
        "type": "list",
        "name": "List",
        "settings": [
          {
            "type":"text",
            "id":"heading",
            "label":"Heading"
          },
          {
            "type":"html",
            "id":"left-content",
            "label":"Left Content"
          },
          {
            "type":"html",
            "id":"right-content",
            "label":"right-content"
          }
        ]
      }
    ]
  }
{% endschema %}