<div class="c-storyIngredients">
    <div class="wrapper">
        <h3 class="c-storyIngredients__title">
            {{ section.settings.title }}       
        </h3>
        <div class="c-storyIngredients__topCopy">
          {{ section.settings.top-content }}
        </div>
        
        <div class="c-storyIngredients__list">
            <div class="c-storyIngredients__row">
                {% for block in section.blocks %}
                    <div class="c-storyIngredients__item">
                        <img data-src="{{ block.settings.image | img_url: 'master' }}" class="c-storyIngredients__image lazyload">
                        <div class="c-storyIngredients__content">
                            <h6 class="c-storyIngredients__heading" data-accordion-toggle>{{ block.settings.heading }} <span>+</span></h6>
                            <div class="c-storyIngredients__copy" data-accordion-content>
                                {{ block.settings.content }}
                            </div>
                        </div>
                    </div>
                {% endfor %}    
            </div>
        </div>
    </div>
    
</div>

{% schema %}
  {
    "name": "Ingredients List",
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"What’s in the bottle?"
      },
      {
        "type":"html",
        "id":"top-content",
        "label":"Top Content"
      }
    ],
    "blocks": [
      {
        "type": "ingredient",
        "name": "Ingredient",
        "settings": [
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"text",
            "id":"heading",
            "label":"Heading"
          },
          {
            "type":"html",
            "id":"content",
            "label":"Content"
          }
        ]
      }
    ]
  }
{% endschema %}